<title>CS202 Lecture notes -- Recursion Debugging Example</title>
<body bgcolor=ffffff>
<h1>CS202 Lecture notes -- Recursion Debugging Example</h1>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S Plank</a>
<LI>Directory: <b>/home/jplank/cs202/Recursion/debug.html</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Recursion/debug.html>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Recursion/debug.html</b></a>
<LI>
Last Modified: <i>
Mon Oct 28 16:41:49 EDT 2019
</i>
<hr>


This is a simple example of using <b>gdb</b> to print the stack.
Below we debug <a href=rec2.cpp><b>rec2.cpp</b></a> using <b>gdb</b>
and we set breakpoints at lines 13 and 22.  First, let's take a look at
those lines:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Line  1 */</font>    #include &lt;cstdio&gt;
<font color=blue>/* Line  2 */</font>    using namespace std;
<font color=blue>/* Line  3 */</font>    
<font color=blue>/* Line  4 */</font>    /* This is a slightly more complex recursion example, where the
<font color=blue>/* Line  5 */</font>       procedure a() calls itself recursively twice. */
<font color=blue>/* Line  6 */</font>    
<font color=blue>/* Line  7 */</font>    void a(int i)
<font color=blue>/* Line  8 */</font>    {
<font color=blue>/* Line  9 */</font>      int j;
<font color=blue>/* Line 10 */</font>    
<font color=blue>/* Line 11 */</font>      j = i*5;
<font color=blue>/* Line 12 */</font>      printf("In procedure a: i = %d, j = %d\n", i, j);
<font color=blue>/* Line 13 */</font>      if (i &gt; 0) a(i-1);
<font color=blue>/* Line 14 */</font>      printf("Later In procedure a: i = %d, j = %d\n", i, j);
<font color=blue>/* Line 15 */</font>    }
<font color=blue>/* Line 16 */</font>    
<font color=blue>/* Line 17 */</font>    int main()
<font color=blue>/* Line 18 */</font>    {
<font color=blue>/* Line 19 */</font>      int i;
<font color=blue>/* Line 20 */</font>      
<font color=blue>/* Line 21 */</font>      i = 16;
<font color=blue>/* Line 22 */</font>      a(3);
<font color=blue>/* Line 23 */</font>      printf("main: %d\n", i);
<font color=blue>/* Line 24 */</font>      return 0;
<font color=blue>/* Line 25 */</font>    }
</pre></td></table></center><p>

To use <b>gdb</b>, we compile the program with the <b>-g</b> flag.  That
makes the program run slower, but it also stores information that helps you
debug.  
<p>
We will run the program under the control of <b>gdb</b>.  Each time we hit
a breakpoint, we will run the <b>where</b> command and the <b>print</b> command
so that you can see the values that are currently on the stack:
<p>
Try it out.  You should see how the output of <b>gdb</b> matches
the lecture note example of running <b>rec2.cpp</b>:

<pre>
UNIX> <font color=darkred><b>g++ -g src/rec2.cpp</b></font>
UNIX> <font color=darkred><b>gdb a.out</b></font>
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-115.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-redhat-linux-gnu".
For bug reporting instructions, please see:
<http://www.gnu.org/software/gdb/bugs/>...
Reading symbols from /home/jplank/cs202/Notes/Recursion/a.out...done.
(gdb) <font color=darkred><b>break 13</b></font>
Breakpoint 1 at 0x40058c: file src/rec2.cpp, line 13.
(gdb) <font color=darkred><b>break 22</b></font>
Breakpoint 2 at 0x4005c7: file src/rec2.cpp, line 22.
(gdb) <font color=darkred><b>run</b></font>
Starting program: /home/jplank/cs202/Notes/Recursion/a.out 

Breakpoint 2, main () at src/rec2.cpp:22
22	  a(3);
(gdb) <font color=darkred><b>where</b></font>
#0  main () at src/rec2.cpp:22
(gdb) <font color=darkred><b>cont</b></font>
Continuing.
In procedure a: i = 3, j = 15

Breakpoint 1, a (i=3) at src/rec2.cpp:13
13	  if (i > 0) a(i-1);
(gdb) <font color=darkred><b>where</b></font>
#0  a (i=3) at src/rec2.cpp:13
#1  0x00000000004005d1 in main () at src/rec2.cpp:22
(gdb) <font color=darkred><b>print i</b></font>
$1 = 3
(gdb) <font color=darkred><b>print j</b></font>
$2 = 15
(gdb) <font color=darkred><b>cont</b></font>
Continuing.
In procedure a: i = 2, j = 10

Breakpoint 1, a (i=2) at src/rec2.cpp:13
13	  if (i > 0) a(i-1);
(gdb) <font color=darkred><b>where</b></font>
#0  a (i=2) at src/rec2.cpp:13
#1  0x000000000040059f in a (i=3) at src/rec2.cpp:13
#2  0x00000000004005d1 in main () at src/rec2.cpp:22
(gdb) <font color=darkred><b>print i</b></font>
$3 = 2
(gdb) <font color=darkred><b>print j</b></font>
$4 = 10
(gdb) <font color=darkred><b>cont</b></font>
Continuing.
In procedure a: i = 1, j = 5

Breakpoint 1, a (i=1) at src/rec2.cpp:13
13	  if (i > 0) a(i-1);
(gdb) <font color=darkred><b>where</b></font>
#0  a (i=1) at src/rec2.cpp:13
#1  0x000000000040059f in a (i=2) at src/rec2.cpp:13
#2  0x000000000040059f in a (i=3) at src/rec2.cpp:13
#3  0x00000000004005d1 in main () at src/rec2.cpp:22
(gdb) <font color=darkred><b>print i</b></font>
$5 = 1
(gdb) <font color=darkred><b>print j</b></font>
$6 = 5
(gdb) <font color=darkred><b>cont</b></font>
Continuing.
In procedure a: i = 0, j = 0

Breakpoint 1, a (i=0) at src/rec2.cpp:13
13	  if (i > 0) a(i-1);
(gdb) <font color=darkred><b>where</b></font>
#0  a (i=0) at src/rec2.cpp:13
#1  0x000000000040059f in a (i=1) at src/rec2.cpp:13
#2  0x000000000040059f in a (i=2) at src/rec2.cpp:13
#3  0x000000000040059f in a (i=3) at src/rec2.cpp:13
#4  0x00000000004005d1 in main () at src/rec2.cpp:22
(gdb) <font color=darkred><b>print i</b></font>
$7 = 0
(gdb) <font color=darkred><b>print j</b></font>
$8 = 0
(gdb) <font color=darkred><b>cont</b></font>
Continuing.
Later In procedure a: i = 0, j = 0
Later In procedure a: i = 1, j = 5
Later In procedure a: i = 2, j = 10
Later In procedure a: i = 3, j = 15
main: 16
[Inferior 1 (process 16002) exited normally]
(gdb) <font color=darkred><b>quit</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>
