<title>CS202 Lecture notes -- Recursion</title>
<body bgcolor=ffffff>
<h1>CS202 Lecture notes -- Recursion</h1>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>~jplank/cs202/Notes/Recursion</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Recursion/index.html>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Recursion/index.html</b></a>
<LI> Original Lecture Notes: I'm guessing the mid 2000's.
<LI> Last modification: <i>
Mon Oct 28 16:41:06 EDT 2019
</i>
<hr>

Here is some practice material with recursion:
<UL>
<LI> <a href=../NoEights/index.html>Practice program from Topcoder: SRM 355 D2 550-pointer</a>
<LI> <a href=http://web.eecs.utk.edu/~jplank/topcoder-writeups/Leetcode/Reverse-Nodes-In-K-Group/index.html>Leetcode problem "Reverse Nodes in k-Group"</a>: This is an excellent problem both for
recursion, and for practicing linked lists.
<LI> <a href=../Recursive-Matrix/index.html>An enumeration, and creating a matrix from a recursive
definition.</a>
<LI> <a href=http://community.topcoder.com/stat?c=problem_statement&pm=10240&rd=14151>The 250-pointer from Topcoder SRM 467, D2</a>.  You don't need to write this recursively, but if you implement
<b>calculate()</b> as a recursive method directly from the definition, it will be fast
enough, even though it is super-inefficient.
<LI> <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs302/Topcoder/IncrementAndDoubling.html>SRM 596, D1, 250-Pointer (IncrementAndDoubling)</a>: I give some hints.  You don't have to solve this
with recursion, but I found it the easiest way to do it.
</UL>


<h2>Recursion</h2>

Recursion is an extremely important programming technique -- one that
students seem to have trouble with early.  It's a very simple concept.
If a language supports recursion (and most of them do, Fortran being
a notable exception), then whenever you make a procedure call, 
the computer stores a few things, which I call a <i>context</i>:
<UL>
<LI> All your arguments and local variables.
<LI> Your place in the current procedure.
</UL>
It actually stores these things by pushing them onto a stack
(which we will heretofore call <i>"the stack"</i>").
Thus, whenever a procedure call returns, it knows what to do
by popping the context off the stack.  That's how it "resumes" from 
the procedure call.
<p>
This lets you do something very important.  It lets you make a
call to the same procedure that you are currently running.  This 
runs a second copy of the procedure, which will restore the first
copy when it returns.
<p>
Let's take a simple example 
(in <a href=src/rec1.cpp><b>src/rec1.cpp</b></a>):

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* 1 */</font>     void a(int i)
<font color=blue>/* 2 */</font>     {
<font color=blue>/* 3 */</font>       printf("In procedure a: i = %d\n", i);
<font color=blue>/* 4 */</font>       if (i == 10) a(9);
<font color=blue>/* 5 */</font>     }
<font color=blue>/* 6 */</font>
<font color=blue>/* 7 */</font>     int main()
<font color=blue>/* 8 */</font>     {
<font color=blue>/* 9 */</font>       a(10);
<font color=blue>/* 10 */</font>      return 0;
<font color=blue>/* 11 */</font>    }
</pre></td></table></center><p>

You'll note, if <b>i</b> equals 10, then <b>a()</b> calls itself.
Let's look at what happens when this is executed.  First, we are
in <b>main()</b>, and it calls <b>a(10)</b>.  What happens here is
that the computer stores its current context (where it is, and what
its local variables are) on the stack.  The stack looks like:
<p>
<center>
<table border=0>
<tr><td><i>top --></i></td>
<td>[<b>main()</b>: line 9]</td>
</tr></table>
</center>
<p>
Then <b>a(10)</b> is executed.  It will print:
<pre>
In procedure a: i = 10
</pre>
and then it will call <b>a(9)</b>.  
Once again, the computer stores its current context on the stack.
The stack now looks like:
<p>
<center>
<table border=0>
<tr><td><i>top --></i></td>
<td align=left>[<b>a()</b>: line 4, <b>i</b> = 10]</td></tr>
<td></td><td align=left>[<b>main()</b>: line 9]</td></tr></table>
</center>
<p>
Then <b>a(9)</b> is executed.  It will print:
<pre>
In procedure a: i = 9
</pre>

At this point, <b>a(9)</b> returns.  When it returns, it pops where it should
return off the stack -- this is in procedure <b>a()</b> at line 4,
with <b>i</b> equal to 10.  The stack once again looks like:
<p>
<center>
<table border=0>
<tr><td><i>top --></i></td> 
<td>[<b>main()</b>: line 9]</td>
</tr></table>
</center>
<p>
After being returned to, <b>a(10)</b> returns.  
Again, it pops where it should return off the stack -- 
this is in procedure <b>main()</b> at line 9.  Of course, what
happens is that <b>main()</b> returns, and the program ends.  Thus,
the output is:
<pre>
In procedure a: i = 10
In procedure a: i = 9 
</pre>

<hr>
<H3>A slightly more complex example</h3>

Now, look at 
<b><a href=src/rec2.cpp>src/rec2.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Line  1 */</font>   void a(int i)
<font color=blue>/* Line  2 */</font>   {
<font color=blue>/* Line  3 */</font>     int j;
<font color=blue>/* Line  4 */</font>   
<font color=blue>/* Line  5 */</font>     j = i*5;
<font color=blue>/* Line  6 */</font>     printf("In procedure a: i = %d, j = %d\n", i, j);
<font color=blue>/* Line  7 */</font>     if (i &gt; 0) a(i-1);
<font color=blue>/* Line  8 */</font>     printf("Later In procedure a: i = %d, j = %d\n", i, j);
<font color=blue>/* Line  9 */</font>   }
<font color=blue>/* Line 10 */</font>   
<font color=blue>/* Line 11 */</font>   int main()
<font color=blue>/* Line 12 */</font>   {
<font color=blue>/* Line 13 */</font>     int i;
<font color=blue>/* Line 14 */</font>     
<font color=blue>/* Line 15 */</font>     i = 16;
<font color=blue>/* Line 16 */</font>     a(3);
<font color=blue>/* Line 17 */</font>     printf("main: %d\n", i);
<font color=blue>/* Line 18 */</font>     return 0;
<font color=blue>/* Line 19 */</font>   }
</pre></td></table></center><p>

Again, let's see what happens when it is executed.  First, 
we're in <b>main()</b> which sets <b>i</b> to 16 and 
calls <b>a(3)</b>.  This pushes
the current context on the stack:
<p>
<center> 
<table border=0>
<tr><td><i>top --></i></td>
<td>[<b>main()</b>: line 16, <b>i</b> = 16]</td> 
</tr></table>
</center>
<p>

Now, we execute <b>a(3)</b>.  This sets <b>j</b> to 15, and 
prints out:
<pre>
In procedure a: i = 3, j = 15
</pre>
It then calls <b>a(2)</b>.  This pushes the current context on the
stack:

<p>
<center>
<table border=0>
<tr><td><i>top --></i></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 3, <b>j</b> = 15]</td></tr>
<td></td><td align=left>[<b>main()</b>: line 16, <b>i</b> = 16]</td></tr>
</table>
</center>
<p>
And then we call <b>a(2)</b>.  This sets <b>j</b> to 10, and
prints out:
<pre>
In procedure a: i = 2, j = 10
</pre>
And then it calls <b>a(1)</b>.  Once again, the current context is
pushed onto the stack:

<p>
<center>
<table border=0>
<tr><td><i>top --></i></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 2, <b>j</b> = 10]</td></tr>
<tr><td></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 3, <b>j</b> = 15]</td></tr>
<td></td><td align=left>[<b>main()</b>: line 16, <b>i</b> = 16]</td></tr>
</table>
</center>
<p>

And then we execute <b>a(1)</b>.  This sets <b>j</b> to 5, and
prints out:
<pre>
In procedure a: i = 1, j = 5
</pre>
And then it calls <b>a(0)</b>.  Once again, the current context is
pushed onto the stack:

<p>
<center>
<table border=0>  
<tr><td><i>top --></i></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 1, <b>j</b> = 5]</td></tr>
<tr><td></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 2, <b>j</b> = 10]</td></tr>
<tr><td></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 3, <b>j</b> = 15]</td></tr>
<td></td><td align=left>[<b>main()</b>: line 16, <b>i</b> = 16]</td></tr>
</table>
</center>
<p>

And then we execute <b>a(0)</b>.  This sets <b>j</b> to 0, and 
prints out:
<pre>
In procedure a: i = 0, j = 0 
</pre>
Since <b>i</b> is zero, it skips the body of the <b>if</b> statement,
prints out:
<pre>
Later In procedure a: i = 0, j = 0
</pre>
and returns.  Now what returning does is restore the top context on 
the stack, which means that we are in <b>a()</b> at line 7 with
<b>i = 1</b> and <b>j = 5</b>.  The stack is now:
<p>
<center>
<table border=0>  
<tr><td><i>top --></i></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 2, <b>j</b> = 10]</td></tr>
<tr><td></td> 
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 3, <b>j</b> = 15]</td></tr>
<td></td><td align=left>[<b>main()</b>: line 16, <b>i</b> = 16]</td></tr>
</table>
</center>
<p>
It prints out:
<pre>
Later In procedure a: i = 1, j = 5
</pre>
and <b>a(1)</b> returns.  Once again, we restore the top context on 
the stack, which means that we are in <b>a()</b> at line 7 with
<b>i = 2</b> and <b>j = 10</b>.  The stack is now:

<p>
<center>
<table border=0>
<tr><td><i>top --></i></td>
<td align=left>[<b>a()</b>: line 7, <b>i</b> = 3, <b>j</b> = 15]</td></tr>
<td></td><td align=left>[<b>main()</b>: line 16, <b>i</b> = 16]</td></tr>
</table>
</center>
<p>

It prints out:
<pre>
Later In procedure a: i = 2, j = 10
</pre>
and <b>a(2)</b> returns.  Once again, we restore the top context on
the stack, which means that we are in <b>a()</b> at line 7 with
<b>i = 3</b> and <b>j = 15</b>.  The stack is now:

<p>
<center>
<table border=0>
<tr><td><i>top --></i></td> 
<td>[<b>main()</b>: line 16, <b>i</b> = 16]</td>
</tr></table>
</center>
<p> 

It prints out:
<pre>
Later In procedure a: i = 3, j = 15
</pre>
and <b>a(3)</b> returns.  Finally, we restore the last context on
the stack, which means that we are in <b>main()</b> at line 16 with
<b>i = 16</b>.  The stack is now empty.  It prints out:
<pre>
main: 16
</pre>
and exits.  Thus, the whole output is:

<pre>
UNIX> <font color=darkred><b>bin/rec2</b></font>
In procedure a: i = 3, j = 15
In procedure a: i = 2, j = 10
In procedure a: i = 1, j = 5
In procedure a: i = 0, j = 0
Later In procedure a: i = 0, j = 0
Later In procedure a: i = 1, j = 5
Later In procedure a: i = 2, j = 10
Later In procedure a: i = 3, j = 15
main: 16
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<H3>Using gdb to look at the stack</h3>

See <a href=debug.html>this web page</a> for an example of using
<b>gdb</b> to look at the stack while <b>rec2.cpp</b> is running.

<hr>

<h3>Infinite recursion</h3>
Obviously, just like you can write a program that goes into an infinite
<b>for()</b> loop, you can write one that goes into an infinite recursive
loop, like 
<b><a href=src/rec3.cpp>src/rec3.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This shows infinite recursion.  Unlike an infinite loop, which will
   run forever until interrupted, infinite recursion will eventually
   run out of stack space.  The result is usually a segmentation 
   violation, but sometimes it is something else like an illegal 
   instruction */</font>

#include &lt;cstdio&gt;
using namespace std;

void a(int i)
{
  printf("In procedure a: i = %d\n", i);
  a(i);
}

int main()
{
  a(10);
}
</pre></td></table></center><p>
When you run it, it looks like an infinite loop:
<pre>
UNIX> <font color=darkred><b>rec3</b></font>
In procedure a: i = 10
In procedure a: i = 10
In procedure a: i = 10
In procedure a: i = 10
....
</pre>
One difference between infinite recursion and most infinite loops 
is that you will run out of stack space eventually with infinite
recursion and the program will exit.  On my macintosh (in 2019), 
it eventually exits with a segmentation violation.

<hr>
<H3>Standard recursion examples - factorial</h3>

One standard recursion example is computing a factorial of
a number.  This can be done with a simple <b>while</b> loop as
in 
<b><a href=src/fact1.cpp>src/fact1.cpp</a></b>

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This is a simple example of computing a factorial with a while loop. 
   This program reads numbers on standard input, and prints their factorials. */</font>

#include &lt;iostream&gt;
using namespace std;

long long factorial(long long i)
{
  long long f;

  f = 1;
  while (i &gt; 0) {
    f *= i;
    i--;
  }
  return f;
}

int main()
{
  long long i;

  while (cin &gt;&gt; i) cout &lt;&lt; "Factorial of " &lt;&lt; i &lt;&lt; " is " &lt;&lt; factorial(i) &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

We can verify that it works: 

<pre>
UNIX> <font color=darkred><b>echo 2 3 4 5 6 7 8 9 10 | bin/fact1</b></font>
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880
Factorial of 10 is 3628800
UNIX> <font color=darkred><b></b></font>
</pre>

Factorial has a very clean recursive, mathematical definition:
<UL>
<LI> 0! = 1
<LI> If <b>n</b> > 0, <b>n</b>! = <b>n</b> * (<b>n</b>-1)!
</UL>
You can program <b>factorial()</b> recursively so that it looks
just like that definition.  This is in
<b><a href=src/fact2.cpp>src/fact2.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Now we write factorial recursively so that it looks just like its mathematical definition. */</font>

long long factorial(long long n)
{
  if (n &lt;= 0) return 1;
  return n * factorial(n-1);
}
</pre></td></table></center><p>

That feels elegant, doesn't it?
Go ahead and run <b>fact1</b> and <b>fact2</b> and see that they
return the same output.  Use <b>gdb</b> to look at the state
of <b>fact2</b> if you're still a little leery of recursion.

<pre>
UNIX> <font color=darkred><b>echo 2 3 4 5 6 7 8 9 10 | bin/fact2</b></font>
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880
Factorial of 10 is 3628800
UNIX> <font color=darkred><b></b></font>
</pre>


<hr>
<H3>Efficiency</h3>

You should be warned that recursion is not as efficient as using
a <b>for()</b> (or <b>while()</b>) loop.  An extreme example is that you could
implement multiplication of integers <i>a</i> and <i>b</i> by starting with a
sum of zero, and adding <i>a</i> to it <i>b</i> times.  I have two versions of
this below -- the left one uses a while loop, and the right one uses recursion:

<p><center><table border=3 cellpadding=3><td>
<b><a href=src/mult1.cpp>src/mult1.cpp</a></b>:
<pre>
int imult(int a, int b)
{
  int product;

  product = 0;

  while (b &gt; 0) {
    product += a;
    b--;
  }
  return product;
}
</pre></td><td valign=top>
<b><a href=src/mult2.cpp>src/mult2.cpp</a></b>:
<pre>
int imult(int a, int b)
{
  if (b &lt;= 0) return 0;
  return a + imult(a, b-1);
}
</pre></td></table></center><p>

Both of them have mains that read in numbers on standard input and multiply them 
with <b>imult()</b>:

<pre>
UNIX> <font color=darkred><b>echo 10 40 | bin/mult1</b></font>
The Product of 10 and 40 is 400
UNIX> <font color=darkred><b>echo 10 40 | bin/mult2</b></font>
The Product of 10 and 40 is 400
UNIX> <font color=darkred><b></b></font>
</pre>

</pre>
As you can see, they both work; however <b>mult1</b> runs faster because it
doesn't have to do those stack operations like <b>mult2</b>
has to.  Unfortunately, this is hard to time because if
you try to use large values of <b>b</b>, <b>mult2</b> will
run out of stack space and seg fault: 

<pre>
UNIX> <font color=darkred><b>echo 10 1000000 | bin/mult2</b></font>
Segmentation fault
UNIX> <font color=darkred><b></b></font>
</pre>

One way to time it is
to run both a lot of times.  
Here, we'll use the scripting language <b>awk</b> to run both of these 1000 times with 
<b>a=10</b> and <b>b=100,000</b>:

<pre>
UNIX> <font color=darkred><b>time sh -c "echo '' | awk '{ for (i = 0; i < 1000; i++) print 10, 100000 }' | bin/mult1 > /dev/null"</b></font>
0.242u 0.007s 0:00.25 96.0%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b>time sh -c "echo '' | awk '{ for (i = 0; i < 1000; i++) print 10, 100000 }' | bin/mult2 > /dev/null"</b></font>
0.530u 0.009s 0:00.54 98.1%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b></b></font>
</pre>

As you can see, the non-recursive implementation is more than two times faster than the
recursive one.
<p>

What this means is that:
<UL>
<LI> You shouldn't go crazy with recursion -- don't use recursion
in tight loops which could be put into <b>for()</b> and
<b>while()</b> loops easily.  
<LI> However, there are times when the ease of using recursion 
far outweighs the inefficiencies of stack management.  This is
especially true when the body of the recursive program does a non-trivial
amount of work, and therefore that the stack management is not
a significant factor in the running time of the program.
</UL>

<hr>
<H3>Standard recursion example: fibonacci numbers</h3>

Fibonacci numbers are a certain class of numbers that have interesting
properties (a cool example is how many plants demonstrate Fibonacci sequences -- for
example, see <a href=https://en.wikipedia.org/wiki/Fibonacci_sequence#/media/File:FibonacciChamomile.PNG>https://en.wikipedia.org/wiki/Fibonacci_sequence#/media/File:FibonacciChamomile.PNG</a>).
We won't discuss these properties, but we can write
programs to calculate them.  The definition of fibonacci numbers is
recursive:
<UL>
<LI> <b>fib(0)</b> = 1.
<LI> <b>fib(1)</b> = 1.
<LI> If <b>n</b> > 1, <b>fib(n) = fib(n-1) + fib(n-2)</b>.
</UL>

This leads to a very simple recursive implementation of the fibonacci
numbers in 
<b><a href=src/fib1.cpp>src/fib1.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* A recursive implementation of the fibonacci numbers.
   The performance of this blows up exponentially. */</font>

#include &lt;iostream&gt;
using namespace std;

long long fibonacci(long long n)
{
  if (n &lt;= 1) return 1;
  return fibonacci(n-1) + fibonacci(n-2);
}

int main()
{
  long long i;

  while (cin &gt;&gt; i) cout &lt;&lt; "Fibonacci of " &lt;&lt; i &lt;&lt; " is " &lt;&lt; fibonacci(i) &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

It works fine for small values of <b>n</b>:

<pre>
UNIX> <font color=darkred><b>echo 1 2 3 4 5 6 | bin/fib1</b></font>
Fibonacci of 1 is 1
Fibonacci of 2 is 2
Fibonacci of 3 is 3
Fibonacci of 4 is 5
Fibonacci of 5 is 8
Fibonacci of 6 is 13
UNIX> <font color=darkred><b></b></font>
</pre>

However, if you think about it, the running time of this program 
is brutal.  Suppose we only care about the number of times that
<b>fibonacci()</b> is called.  Let this be <b>F(n)</b>.  
<b>F(0)</b> = 1 and <b>F(1)</b> = 1.  <b>F(n)</b> is 
1+<b>F(n-1)</b>+<b>F(n-2)</b>, which means that <b>F(n)</b> is
greater than <b>F(n-1)</b>+<b>F(n-2)</b>.  So, <b>F(2)</b> > 2, <b>F(3)</b> 
> 3, <b>F(4)</b> > 5, etc.  You'll see <b>F(n)</b> is greater than
<b>fib(n)</b>.   As you will learn later, <b>fib(n) = O(1.6)^n</b>,
which means that the running time of <b>fib1.cpp</b> is <i>exponential</i>,
which is terrible.   You'll notice that when you get to values of
<b>n</b> in the 40's, <b>fib1</b> starts slowing down incredibly:

<pre>
UNIX> <font color=darkred><b>time sh -c "echo 40 | bin/fib1"</b></font>
Fibonacci of 40 is 165580141
0.788u 0.004s 0:00.79 98.7%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b>time sh -c "echo 41 | bin/fib1"</b></font>
Fibonacci of 41 is 267914296
1.249u 0.005s 0:01.25 99.2%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b>time sh -c "echo 42 | bin/fib1"</b></font>
Fibonacci of 42 is 433494437
1.994u 0.005s 0:02.00 99.5%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b>time sh -c "echo 46 | bin/fib1"</b></font>
Fibonacci of 46 is 2971215073
14.538u 0.021s 0:14.57 99.8%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b></b></font>
</pre>

<p>
The problem is making all of those duplicate recursive calls -- think about how many
times <b>fibonacci(1)</b> is called in that last run.  It doesn't have to be that way
-- for example, the implementation in
<b><a href=src/fib2.cpp>src/fib2.cpp</a></b> uses a deque to hold <b>fib(i-1)</b> and
<b>fib(i)</b> inside a <b>for</b> loop.  The loop then iteratively calculates
<b>fib(i+1)</b> as the sum of 
<b>fib(i-1)</b> and
<b>fib(i)</b>.  It pushes the sum on the back of the deque, and then deletes the front.
At the end, element 1 of the deque holds <b>fib(n)</b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* We can implement the fibonacci numbers without recursion,
   by keeping track of f(i-1) and f(i-2) to calculate f(i).
   Now, calculating f(n) is O(n) instead of being exponential */</font>

#include &lt;deque&gt;
#include &lt;iostream&gt;
using namespace std;

long long fibonacci(long long n)
{
  deque &lt;long long&gt; f;
  int i;

  if (n &lt;= 1) return 1;

  <font color=blue>/* We start with fib(0) = fib(1) = 1 */</font>

  f.push_back(1);
  f.push_back(1);

  <font color=blue>/* In the body of this for loop, f[0] holds fib(i-1), and f[1] holds fib(i).
     We calculate fib(i+1) by adding f[0] and f[1], pushing it on the back
     of f, and then deleting f[0].  When the loop is done, f[1] will hold fib(n). */</font>

  for (i = 1; i &lt; n; i++) {
    f.push_back(f[0] + f[1]);
    f.pop_front();
  }
  return f[1];
}

int main()
{
  long long i;

  while (cin &gt;&gt; i) cout &lt;&lt; "Fibonacci of " &lt;&lt; i &lt;&lt; " is " &lt;&lt; fibonacci(i) &lt;&lt; endl;
  return 0;
}
</pre></td></table></center><p>

Now it's a lot faster, because the implementation is <i>O(n)</i> rather than exponential:

<pre>
UNIX> <font color=darkred><b>echo 1 2 3 4 5 6 | bin/fib2</b></font>
Fibonacci of 1 is 1
Fibonacci of 2 is 2
Fibonacci of 3 is 3
Fibonacci of 4 is 5
Fibonacci of 5 is 8
Fibonacci of 6 is 13
UNIX> <font color=darkred><b>time sh -c "echo 46 | bin/fib2"</b></font>
Fibonacci of 46 is 2971215073
0.002u 0.003s 0:00.00 0.0%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b></b></font>
</pre>

We'll revisit this example of exponential recursive blowup in CS302, when we 
learn Dynamic Programming.

<hr>
<h2>The Towers of Hanoi</h2>

See <a href=hanoilegend.html>this link</a> for a description of the 
towers of Hanoi (I found this on Swarthmore's web site).  
This is good conversational fodder for the next time that you
are bored at a restaurant -- you can play "Towers of Hanoi" with
the onion rings:

<p><center><table border=3><td><img src=Hanoi-Onion-Rings.jpg width=150></td></table></center><p>

More formally, suppose you have <b>n</b> disks that you want to 
move from tower 0 to tower 1, and that you are able to use tower
2 in the process.  You are only allowed to move a disk at a time,
and you can only move a disk from one tower to another if that
disk is smaller than the top disk on the destination tower.
<p>
There is a very elegant solution to this.  If <b>n</b> is one, then
you simply move the disk.  Otherwise, you solve the problem for
<b>n-1</b>, moving the top <b>n-1</b> disks to tower 2, and
then you move the bottom disk to tower 1.  Finally, you use the
solution for <b>n-1</b> to move the <b>n-1</b> disks from tower 2 to 
tower 1.
<p>
This maps very well into a recursive subroutine.   But before
we do that, we need to actually code up the towers of Hanoi.
<p>
<hr>
<h3>Implementation</h3>

First, take a look at <b><a href=include/towers.hpp>include/towers.hpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string&gt;
#include &lt;deque&gt;

class Towers {
  public:
    Towers(int n);                                  <font color=blue>// Constructor - n is the number of disks</font>
    std::string Move(int from, int to, bool print); <font color=blue>// Move the disk from tower "from" to tower "to"</font>
                                                    <font color=blue>// Returns "" if the move was successful.</font>
                                                    <font color=blue>// Otherwise, it returns an error string.</font>
    void Print() const;                             <font color=blue>// Print the towers as ASCII art.</font>

  protected:
    std::deque &lt;int&gt; T[3];                <font color=blue>// This holds the sizes of the disks on the three towers</font>
};
</pre></td></table></center><p>

This defines a simple <b>Towers</b> class where each tower is represented by 
a <b>deque</b>.  We'd optimally use a stack, but we want to print the towers,
so using a <b>deque</b> ends up being easier.  We'll push elements on the front and pop them
from the front too.  Thus, the constructor and <b>Move()</b> are pretty
simple procedures
(in <b><a href=src/towers.cpp>src/towers.cpp</a></b>):

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* The constructor puts all of the disks onto tower 0.
   The front of the deque is the top of the tower */</font>

Towers::Towers(int n)
{
  int i;

  if (n &lt;= 0) throw ((string) "Towers::Towers() - Bad value of n");
  for (i = 1; i &lt;= n; i++) T[0].push_back(i);
}

<font color=blue>/* Moving is mostly a matter of error checking.  If all is ok,
   we remove the disk from the front of the "from" tower and
   add it to the front of the "to" tower. */</font>

string Towers::Move(int from, int to, bool print)
{
  int disk;
  <font color=blue>/* Error checking */</font>

  if (from &lt; 0 || from &gt; 2) return "Bad source tower";
  if (to &lt; 0 || to &gt; 2) return "Bad destiniation tower";
  if (T[from].empty()) return "Source tower is empty";
  if (!T[to].empty() && T[from][0] &gt; T[to][0]) {
    return "Disk on the source tower is bigger than the top of the destination tower";
  }
  
  <font color=blue>/* Move the disk and return success */</font>

  disk = T[from][0];
  T[to].push_front(disk);
  T[from].pop_front();
  if (print) printf("Moving disk of size %d from tower %d to tower %d\n", disk, from, to);
  return "";
}
</pre></td></table></center><p>

To print the towers, I'm going to use ASCII art.  See if you can trace 
through this one.  I'll go over it in class.

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Print() creates ASCII art of the towers.  Since we want them to have their
   bases line up, we have to put in a little effort to print the right values
   in the right places. */</font>

void Towers::Print() const
{
  int max_disk, dots, spaces;
  size_t max_height, i, index;
  int j, k;

  <font color=blue>/* Calculate the maximum size disk, and the height of the tallest tower. */</font>

  max_disk = T[0].size() + T[1].size() + T[2].size();
  max_height = T[0].size();
  if (T[1].size() &gt; max_height) max_height = T[1].size();
  if (T[2].size() &gt; max_height) max_height = T[2].size();

  <font color=blue>/* Now, go from top to bottom, then left to right, and for each row and
     tower, first figure out if you are printing a disk.  If so, you set
     "dots" to be the size of the disk.  If there is no disk, "dots" is zero.
     Then you'll print "dots" dots, and (max_disk-dots+1) spaces (the extra space
     is to put spaces between the towers. */</font>

  for (i = 0; i &lt; max_height; i++) {
    index = max_height - i - 1;
    for (j = 0; j &lt; 3; j++) {
      if (T[j].size() &gt; index) {
        dots = T[j][T[j].size()-index-1];
      } else {
        dots = 0;
      }
      spaces = max_disk - dots + 1;
      for (k = 0; k &lt; dots; k++) printf(".");
      for (k = 0; k &lt; spaces; k++) printf(" ");
    }
    printf("\n");
  }

  <font color=blue>/* Finally, print the bases of the towers */</font>

  for (j = 0; j &lt; 3; j++) {
    for (k = 0; k &lt; max_disk; k++) printf("-");
    printf(" ");
  }
  printf("\n");
}
</pre></td></table></center><p>

Do we need a destructor, copy constructor or assignment overload?  The answer is no.
Why?  Because the deque gets deallocated automatically, and the default copy constructor/assignment
overload will copy the deque, which is what we want.
<p>

I have a very simple interactive tower program in 
<b><a href=src/towers_play.cpp>src/towers_play.cpp</a></b>, which 
starts with all the rings on tower zero, and then allows
you to move a ring at a time by entering the source and
destination towers.  It prints the towers at the beginning
and after each move:

<b><a href=src/towers_play.cpp>src/towers_play.cpp</a></b>

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This is a simple command-line player of the towers of Hanoi */</font>

#include "towers.hpp"
#include &lt;iostream&gt;
using namespace std;

int main()
{
  Towers *t;
  int npieces;
  int from, to;
  string rv;

  <font color=blue>/* Get the number of disks and create the instance of the Towers class. */</font>

  cout &lt;&lt; "Enter the number of disks: ";
  cout.flush();
  if (!(cin &gt;&gt; npieces)) return 0;

  try {
    t = new Towers(npieces);
  } catch (const string s) {
    cout &lt;&lt; s; &lt;&lt; endl;
    return 0;
  }

  <font color=blue>/* Print the board, prompt the user, and make the move. */</font>
    
  while (1) {
    t-&gt;Print();
    cout &lt;&lt; "Enter source and destination: ";
    cout.flush();
    if (!(cin &gt;&gt; from &gt;&gt; to)) return 0;
    rv = t-&gt;Move(from, to, false);
    if (rv != "") cout &lt;&lt; endl &lt;&lt; rv &lt;&lt; endl &lt;&lt; endl;
  }
}
</pre></td></table></center><p>
Here's a simple example with three rings.  You'll note that I make a few mistakes
to test my error checking:

<pre>
UNIX> <font color=darkred><b>bin/towers_play</b></font>
Enter the number of disks: <font color=darkred><b>3</b></font>
.           
..          
...         
--- --- --- 
Enter source and destination: <font color=darkred><b>0 1</b></font>
..          
... .       
--- --- --- 
Enter source and destination: <font color=darkred><b>0 1</b></font>

Disk on the source tower is bigger than the top of the destination tower

..          
... .       
--- --- --- 
Enter source and destination: <font color=darkred><b>0 2</b></font>
... .   ..  
--- --- --- 
Enter source and destination: <font color=darkred><b>1 2</b></font>
        .   
...     ..  
--- --- --- 
Enter source and destination: <font color=darkred><b>0 1</b></font>
        .   
    ... ..  
--- --- --- 
Enter source and destination: <font color=darkred><b>2 0</b></font>
.   ... ..  
--- --- --- 
Enter source and destination: <font color=darkred><b>015 6</b></font>

Bad source tower

.   ... ..  
--- --- --- 
Enter source and destination: <font color=darkred><b>2 1</b></font>
    ..      
.   ...     
--- --- --- 
Enter source and destination: <font color=darkred><b>0 1</b></font>
    .       
    ..      
    ...     
--- --- --- 
Enter source and destination: <font color=darkred><b>0 1</b></font>

Source tower is empty

    .       
    ..      
    ...     
--- --- --- 
Enter source and destination: <font color=darkred><b>bye</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>


<hr>
<h3>The recursive solution</h3>

In  
<b><a href=src/towers_solution.cpp>src/towers_solution.cpp</a></b>
we code up the recursive solution in the <b>Solve()</b> procedure.

<p><center><table border=3 cellpadding=3><td><pre>
#include "towers.hpp"
#include &lt;iostream&gt;
using namespace std;

void Solve(Towers *t, int from, int to, int num_disks)
{
  int i, other;

  <font color=blue>/* If there's just one disk on the pile to move, then move it and return. */</font> 

  if (num_disks == 1) {
    t-&gt;Move(from, to, true);
    t-&gt;Print();
    return;
  }

  <font color=blue>/* Otherwise, figure out which tower is neither "from" nor "to".  Move the
     top (num_disks-1) disks to that tower recursively, move the bottom disk
     to the destination tower, and then move the (num_disks-1) disks from the
     temporary tower to the destination one. */</font>

  for (i = 0; i &lt; 3; i++) if (i != from && i != to) other = i;
  Solve(t, from, other, num_disks-1);
  t-&gt;Move(from, to, true);
  t-&gt;Print();
  Solve(t, other, to, num_disks-1);
}
</pre></td></table></center><p>

That's a pretty elegant solution, isn't it?
<p>
The <b>main()</b> repeatedly reads in the number of disks, creates an instance of the
<b>Towers</b> class, and then solves it recursively:

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  int npieces;
  Towers *t;

  while (1) {
    cout &lt;&lt; "Enter the number of towers: ";
    cout.flush();
    if (!(cin &gt;&gt; npieces)) return 0;
    try {
      t = new Towers(npieces);
      t-&gt;Print();
      Solve(t, 0, 1, npieces);
      delete t;
      
    } catch (const string s) {
      cout &lt;&lt; s &lt;&lt; endl;
    }
  }
}
</pre></td></table></center><p>

Let's use it to solve the problem on 1, 2 and 3 disk towers:

<pre>
UNIX> <font color=darkred><b>bin/towers_solution</b></font>
Enter the number of towers: <font color=darkred><b>1</b></font>
.     
- - - 
Moving disk of size 1 from tower 0 to tower 1
  .   
- - - 
Enter the number of towers: <font color=darkred><b>2</b></font>
.        
..       
-- -- -- 
Moving disk of size 1 from tower 0 to tower 2
..    .  
-- -- -- 
Moving disk of size 2 from tower 0 to tower 1
   .. .  
-- -- -- 
Moving disk of size 1 from tower 2 to tower 1
   .     
   ..    
-- -- -- 
Enter the number of towers: <font color=darkred><b>3</b></font>
.           
..          
...         
--- --- --- 
Moving disk of size 1 from tower 0 to tower 1
..          
... .       
--- --- --- 
Moving disk of size 2 from tower 0 to tower 2
... .   ..  
--- --- --- 
Moving disk of size 1 from tower 1 to tower 2
        .   
...     ..  
--- --- --- 
Moving disk of size 3 from tower 0 to tower 1
        .   
    ... ..  
--- --- --- 
Moving disk of size 1 from tower 2 to tower 0
.   ... ..  
--- --- --- 
Moving disk of size 2 from tower 2 to tower 1
    ..      
.   ...     
--- --- --- 
Moving disk of size 1 from tower 0 to tower 1
    .       
    ..      
    ...     
--- --- --- 
Enter the number of towers: <font color=darkred><b>bye</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>




One of the things that I love about the Towers of Hanoi is that once you 
figure out the recursion, the solution nearly writes itself.  You don't have
to think about where you are moving the pieces, and more specifically, where you move
the very first disk -- the recursion takes care of it automatically!  
<p>
Can you figure out the number of calls to <b>Make_Move()</b> as a function of <b>n</b>?
Let's use those great Unix programs <b>grep</b> and <b>wc</b> to help us:

<pre>
UNIX> <font color=darkred><b>echo 1 | bin/towers_solution | grep Moving</b></font>
Moving disk of size 1 from tower 0 to tower 1
UNIX> <font color=darkred><b>echo 2 | bin/towers_solution | grep Moving</b></font>
Moving disk of size 1 from tower 0 to tower 2
Moving disk of size 2 from tower 0 to tower 1
Moving disk of size 1 from tower 2 to tower 1
UNIX> <font color=darkred><b>echo 3 | bin/towers_solution | grep Moving</b></font>
Moving disk of size 1 from tower 0 to tower 1
Moving disk of size 2 from tower 0 to tower 2
Moving disk of size 1 from tower 1 to tower 2
Moving disk of size 3 from tower 0 to tower 1
Moving disk of size 1 from tower 2 to tower 0
Moving disk of size 2 from tower 2 to tower 1
Moving disk of size 1 from tower 0 to tower 1
UNIX> <font color=darkred><b>echo 3 | bin/towers_solution | grep Moving | wc</b></font>
       7      77     322
UNIX> <font color=darkred><b>echo 4 | bin/towers_solution | grep Moving | wc</b></font>
      15     165     690
UNIX> <font color=darkred><b>echo 5 | bin/towers_solution | grep Moving | wc</b></font>
      31     341    1426
UNIX> <font color=darkred><b>echo 6 | bin/towers_solution | grep Moving | wc</b></font>
      63     693    2898
UNIX> <font color=darkred><b></b></font>
</pre>


Let <b>MM(n)</b> be the number of calls to <b>Make_Move()</b> as a function of <b><i>n</i></b>.
It looks as though:
<p><center>
<b>MM(<i>n</i>)</b> = <i>2<sup>n</sup>-1</i>.
</center><p>

Can we prove it?  Well, it's easy to see that <b>MM(1)</b> = 1.  For 
<b><i>n</i></b> &gt; 1, you can see from <b>Solve()</b> that:

<p><center>
<b>MM(<i>n</i>)</b> = <i>1 + 2</i>(<b>MM(<i>n-1</i>))</b>.
</center><p>

So, prove it by induction.  If 
<b>MM(<i>n</i>)</b> = <i>2<sup>n</sup>-1</i> for all values less than <b><i>n</i></b>,
then :
<p><center>
<i>1 + 2</i>(<b>MM(<i>n-1</i>))</b> = 
<i>1 + 2(2<sup><b>n-1</b></sup>-1)</i><br>
= <i>1 + 2<sup><b>n</b></sup>-2</i><br>
= <i>2<sup><b>n</b></sup>-1.</i><br>
</center><p>

Awesome.  Remember that proof.  It will be all over those CS31<i>x</i> classes.
