<title>CS202 Lecture notes -- Procedures, Prototypes, Reference Parameters, Const</title>
<body bgcolor=ffffff>
<h1>CS202 Lecture notes -- Procedures, Prototypes, Reference Parameters, Const</h1>
<UL>
<LI><a href=src/http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>~jplank/cs202/notes/Procedures</b>
<LI>Lecture notes:
    <a href=src/http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Procedures>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Procedures</b></a>
<LI> Original lecture notes: 2011
<LI> Revamp: <i>
Sat Aug 28 16:14:56 EDT 2021
</i>
</UL>
<hr>

<h3>Procedures</h3>

Procedures allow you to perform the same task multiple times.  If you have 
a functionality that you want to perform over and over, it's often good
to define a procedure and use it.  It also cleans up your code so that your
programs are broken up into reasonable-sized procedures rather than one giant
<b>main()</b>.
<p>
When you are writing/using procedures, there are some things that you should
keep in mind about how parameters are passed.  That is the focus of this
lecture.

<p>
I'm going to motivate this with an example that comes from my life.  My wife and
I have our phones store pictures into the same Dropbox folder.  That's convenient,
because I can get them on my laptop easily.  There is an issue, though -- my 
wife's phone names the files one way, and my phone names them another.  In the
file 
<b><a href=src/data/filenames.txt>data/filenames.txt</a></b>, there is a listing of a few pictures
from July and August, 2019.

<p><center><table border=3 cellpadding=3><td><pre>
2019-07-13 00.09.11.jpg
2019-07-14 21.57.36.jpg
2019-07-17 09.28.48.jpg
2019-07-26 19.06.20.jpg
2019-07-29 17.51.39.jpg
2019-07-31 16.02.56.jpg
2019-07-31 16.04.31.jpg
2019-07-31 16.05.08.jpg
2019-08-04 21.35.23.jpg
2019-08-05 14.10.06.jpg
2019-08-06 15.31.40.jpg
Photo Aug 02, 10 22 21 PM.jpg
Photo Aug 03, 9 25 04 PM.jpg
Photo Aug 04, 3 03 33 PM.jpg
Photo Aug 10, 9 56 09 AM.jpg
Photo Aug 10, 9 59 07 AM.jpg
Photo Aug 21, 9 27 02 AM.jpg
Photo Aug 21, 9 35 04 AM.jpg
Photo Jul 13, 9 57 54 AM.jpg
Photo Jul 19, 10 35 39 PM.jpg
</pre></td></table></center><p>

We're going to write a program that will read filenames on standard input, and
then it does one of two things -- if the filename begins with "2019", then it
will emit the shell command to move the file to one with the same name, but with
the space removed.  If the filename begins with "Photo", then it will emit the 
shell command that converts it into the same format as the "2019" files.

Here's the C++ code -- the procedures make it all quite easy to read, I think.
(It's in <b><a href=src/move_filenames_1.cpp>src/move_filenames_1.cpp</a></b>).

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;cstdlib&gt;
#include &lt;cstdio&gt;
#include &lt;sstream&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This emits the shell command to move the files that start with 2019.  
   We implement it by finding the space in the line.  Then we print "mv 'line'", 
   change the space to a hyphen, and finally "line\n". */</font>

void move_2019(string line)
{
  int i;

  i = line.find(' ');
  if (i == string::npos) {
    fprintf(stderr, "move_2019() - the line of text has no space.\n");
    exit(1);
  }
  printf("mv '%s'", line.c_str());
  line[i] = '-';
  printf(" %s\n", line.c_str());
}
  
<font color=blue>/* move_photo() assumes that the line is like "Photo Aug 04, 3 03 33 PM.jpg".  It uses
   an istringstream to read all of those values, and then emits the shell command
   to move the photo to one like "2019-08-04-15.03.33.jpg" */</font>

void move_photo(string line)
{
  string p, month, comma, ampm;
  int day, hour, minute, second;
  int m;
  istringstream ss;

  ss.str(line);
  if (ss &gt;&gt; p &gt;&gt; month &gt;&gt; day &gt;&gt; comma &gt;&gt; hour &gt;&gt; minute &gt;&gt; second &gt;&gt; ampm) {
    m = (month == "Jul") ? 7 : 8;
    if (ampm.substr(0, 2) == "PM") hour += 12;
    printf("mv '%s' 2019-%02d-%02d-%02d.%02d.%02d.jpg\n", line.c_str(), m, day, hour, minute, second);
  } else {
    fprintf(stderr, "move_2019() - line in the wrong format.\n");
    exit(1);
  }
}

<font color=blue>/* The main is pretty simple.  It reads in a line of text, and if the line begins with
   "2019", it calls move_2019().  Otherwise, it calls movo_photo(). */</font>

int main()
{
  string l;

  while (getline(cin, l)) {
    if (l.substr(0, 4) == "2019") {
      move_2019(l);
    } else {
      move_photo(l);
    }
  }
  return 0;
}
</pre></td></table></center><p>

I'm going to highlight just a few things about this program.  First, <b>move_2019()</b> uses
the <b>find()</b> method of strings to find the space in the string.  If there's no space,
then <b>find()</b> returns "string::npos".  You may not have known that, so now you do.
<p>
Second, both <b>move_photo()</b> and <b>main()</b> use the <b>substr()</b> method of strings
to extract a substring from a string.  The first argument is the starting character of the
substring, and the second argument is the size.  That's how you check that <b>ampm</b> starts
with "PM".
<p>
Third, you'll note that in <b>move_photo()</b> I explicitly read the comma after the day. 
If I didn't do that, then the rest of the "ss >> p >> ..." would fail.
<p>
This works very nicely, and enables me to have all of the photo files have the same format:


<pre>
UNIX> <font color=darkred><b>bin/move_filenames_1 < data/filenames.txt</b></font>
mv '2019-07-13 00.09.11.jpg' 2019-07-13-00.09.11.jpg
mv '2019-07-14 21.57.36.jpg' 2019-07-14-21.57.36.jpg
mv '2019-07-17 09.28.48.jpg' 2019-07-17-09.28.48.jpg
mv '2019-07-26 19.06.20.jpg' 2019-07-26-19.06.20.jpg
mv '2019-07-29 17.51.39.jpg' 2019-07-29-17.51.39.jpg
mv '2019-07-31 16.02.56.jpg' 2019-07-31-16.02.56.jpg
mv '2019-07-31 16.04.31.jpg' 2019-07-31-16.04.31.jpg
mv '2019-07-31 16.05.08.jpg' 2019-07-31-16.05.08.jpg
mv '2019-08-04 21.35.23.jpg' 2019-08-04-21.35.23.jpg
mv '2019-08-05 14.10.06.jpg' 2019-08-05-14.10.06.jpg
mv '2019-08-06 15.31.40.jpg' 2019-08-06-15.31.40.jpg
mv 'Photo Aug 02, 10 22 21 PM.jpg' 2019-08-02-22.22.21.jpg
mv 'Photo Aug 03, 9 25 04 PM.jpg' 2019-08-03-21.25.04.jpg
mv 'Photo Aug 04, 3 03 33 PM.jpg' 2019-08-04-15.03.33.jpg
mv 'Photo Aug 10, 9 56 09 AM.jpg' 2019-08-10-09.56.09.jpg
mv 'Photo Aug 10, 9 59 07 AM.jpg' 2019-08-10-09.59.07.jpg
mv 'Photo Aug 21, 9 27 02 AM.jpg' 2019-08-21-09.27.02.jpg
mv 'Photo Aug 21, 9 35 04 AM.jpg' 2019-08-21-09.35.04.jpg
mv 'Photo Jul 13, 9 57 54 AM.jpg' 2019-07-13-09.57.54.jpg
mv 'Photo Jul 19, 10 35 39 PM.jpg' 2019-07-19-22.35.39.jpg
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Prototypes</h3>

Suppose I put <b>main()</b> before <b>move_2019()</b> and <b>move_photo()</b>.
I've done that in 
<b><a href=src/move_filenames_2.cpp>src/move_filenames_2.cpp</a></b>.  When you try to 
compile it, the compiler will exit with an error, because it doesn't know what
<b>move_2019()</b> and <b>move_photo()</b> are when it is trying to compile <b>main()</b>.
<p>
Here it is on my Mac:
<p>
<pre>
UNIX> <font color=darkred><b>g++ src/move_filenames_2.cpp</b></font>
move_filenames_2.cpp:16:7: error: use of undeclared identifier 'move_2019'
      move_2019(l);
      ^
move_filenames_2.cpp:18:7: error: use of undeclared identifier 'move_photo'
      move_photo(l);
      ^
2 errors generated.
UNIX> <font color=darkred><b></b></font>
</pre>

and here it is on one of the hydra machines:

<pre>
UNIX> <font color=darkred><b>g++ src/move_filenames_2.cpp</b></font>
move_filenames_2.cpp:16:7: error: 'move_2019' was not declared in this scope
      move_2019(l);
      ^
move_filenames_2.cpp:18:7: error: 'move_2019' was not declared in this scope
      move_photo(l);
      ^
UNIX> <font color=darkred><b></b></font>
</pre>

When you don't define a procedure before it is being used (or you define it in another
file), you need to specify its <i>prototype</i>.  This is the part of the procedure 
before the opening curly brace, and instead of the curly brace, you have a semi-colon.
<p>
I have done this in 
<b><a href=src/move_filenames_3.cpp>src/move_filenames_3.cpp</a></b>.  Here are the two lines
that I added before <b>main()</b>:

<p><center><table border=3 cellpadding=3><td><pre>
void move_2019(string line);
void move_photo(string line);
</pre></td></table></center><p>

The compiler works fine on this program.

<hr>
<h2>Reference Parameters vs Regular Parameters</h2>

By default, C++ passes parameters using "Pass By Value".  What that means
is that when you call <b>move_2019(line)</b>, it passes the "value" of <b>line</b>
to the procedure, making a copy of <b>line</b>.  While that's less efficient than
just letting <b>move_2019()</b> use <b>line</b>, it also makes the semantics a little
cleaner -- if <b>move_2019()</b> modifies <b>line</b> (as it does), that doesn't affect
whoever is calling it.  
<p>
Just to hammer this home, 
<b><a href=src/move_filenames_4.cpp>src/move_filenames_4.cpp</a></b> is the same as
<b><a href=src/move_filenames_1.cpp>src/move_filenames_1.cpp</a></b>, except in <b>main()</b>,
at the end of the while loop, it prints the original filename.  Here's the <b>main()</b>,
which is the only part that differs from 
<b><a href=src/move_filenames_1.cpp>src/move_filenames_1.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  string l;

  while (getline(cin, l)) {
    if (l.substr(0, 4) == "2019") {
      move_2019(l);
    } else {
      move_photo(l);
    }
    printf("The line of text: %s\n", l.c_str());    <font color=blue>// Here's the new line of code.</font>
  }
  return 0;
}
</pre></td></table></center><p>

Let's run it on the first line of <b>data/filenames.txt</b>, just to confirm that we know what
it's doing:

<pre>
UNIX> <font color=darkred><b>head -n 1 data/filenames.txt | bin/move_filenames_4</b></font>
mv '2019-07-13 00.09.11.jpg' 2019-07-13-00.09.11.jpg
The line of text: 2019-07-13 00.09.11.jpg
UNIX> <font color=darkred><b></b></font>
</pre>

Now, in C++, we are allowed to specify that we want to pass a parameter using 
"call by reference."  This is done by putting an ampersand in front of the variable
in the procedure declaration.  When this happens, the parameter is not copied, but instead
the the procedure actually acts on what it was called with.  Let me illustrate, by
changing <b>move_2019()</b> to use a reference parameter.
in <b><a href=src/move_filenames_5.cpp>src/move_filenames_5.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
void move_2019(string &line)     <font color=blue>// This line is the only change.</font>
{
  size_t i;

  i = line.find(' ');
  if (i == string::npos) {
    fprintf(stderr, "move_2019() - the line of text has no space.\n");
    exit(1);
  }
  printf("mv '%s'", line.c_str());
  line[i] = '-';
  printf(" %s\n", line.c_str());
}
</pre></td></table></center><p>

Here's where it's called, in main:

<p><center><table border=3 cellpadding=3><td><pre>
int main()
{
  string l;

  while (getline(cin, l)) {
    if (l.substr(0, 4) == "2019") {
      move_2019(l);                 <font color=blue>// move_2019() acts on l and not a copy, so when it changes l, l is changed.</font>
    } else {
      move_photo(l);
    }
    printf("The line of text: %s\n", l.c_str());
  }
  return 0;
}
</pre></td></table></center><p>

When we run it, you'll notice that now the line of text is changed after the
call to <b>move_2019()</b> (I put the changed line in blue - the space has been changed to a hyphen):

<pre>
UNIX> <font color=darkred><b>head -n 1 data/filenames.txt | bin/move_filenames_5</b></font>
mv '2019-07-13 00.09.11.jpg' 2019-07-13-00.09.11.jpg
The line of text: <font color=blue>2019-07-13-00.09.11.jpg</font>
UNIX> <font color=darkred><b></b></font>
</pre>

I understand that this is a subtle change, but it's an important one for you do know.
Now, why do we have reference parameters?  Two reasons:

<OL>
<LI> Sometimes it is convenient to have a procedure modify its parameters.
<LI> You save time and space when you don't make a copy, so a reference parameter
     is more efficient.  However, you have to pay attention to the fact that
     you didn't make a copy, and if your caller doesn't want the parameter changed,
     then you'd better not change it.
</OL>

Fortunately, there is a keyword <b>const</b> that can help.  If you declare your
parameter as <b>const</b>, then the compiler checks and makes sure that you aren't
changing anything.  That way you get the efficiency of not making a copy, without
the danger that your data is being modified.  For example, in
<b><a href=src/move_filenames_6.cpp>src/move_filenames_6.cpp</a></b>
I have changed <b>move_photo()</b> so that it uses a const reference parameter:

<p><center><table border=3 cellpadding=3><td><pre>
void move_photo(const string &line)      <font color=blue>// This is the only line that is changed.</font>
</pre></td></table></center><p>

Now, when we call it, it doesn't make a copy, but because of the <b>const</b> keyword,
the compiler has assured us that <b>move_photo()</b> has not changed <b>line</b>.
I won't bother running it, because you won't see anything exciting.  
<p>
If I try to have <b>move_2019()</b> use the <b>const</b> keyword, as in 
<b><a href=src/move_filenames_7.cpp>src/move_filenames_7.cpp</a></b>, the compiler will
give me an error, because <b>move_2019()</b> does, in fact, change its parameter:

<p><center><table border=3 cellpadding=3><td><pre>
void move_2019(const string &line)   <font color=blue>// This is the only line that has changed.</font>
{
  size_t i;

  i = line.find(' ');
  if (i == string::npos) {
    fprintf(stderr, "move_2019() - the line of text has no space.\n");
    exit(1);
  }
  printf("mv '%s'", line.c_str());
  line[i] = '-';                    <font color=blue>// Here's where we modify line, and why the compiler complains.</font>
  printf(" %s\n", line.c_str());
}
</pre></td></table></center><p>

Here's what happens when we try to compile:

<pre>
UNIX> <font color=darkred><b>g++ src/move_filenames_7.cpp</b></font>
move_filenames_7.cpp:20:11: error: cannot assign to return value because function 'operator[]'
      returns a const value
  line[i] = '-';                    <font color=blue>// Here's where we modify line, and why the compiler complains.</font>
  ~~~~~~~ ^
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/.bin/include/c++/v1/string:1460:31: note: 
      function 'operator[]' which returns const-qualified type 'const_reference'
      (aka 'const char &') declared here
    _LIBCPP_INLINE_VISIBILITY const_reference operator[](size_type __pos) const;
                              ^~~~~~~~~~~~~~~
1 error generated.
UNIX> <font color=darkred><b></b></font>
</pre>

Let's change <b>move_2019()</b> so that it doesn't modify its parameter.  Here, we'll
use the <b>substr()</b> method of strings to make copies of <b>line</b> before and
after the space.  This is in 
<b><a href=src/move_filenames_8.cpp>src/move_filenames_8.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
void move_2019(const string &line)   <font color=blue>// Since this code doesn't change line, it compiles.</font>
{
  size_t i;
  string w1, w2;

  i = line.find(' ');
  if (i == string::npos) {
    fprintf(stderr, "move_2019() - the line of text has no space.\n");
    exit(1);
  }
  w1 = line.substr(0, i);
  w2 = line.substr(i+1);
  cout &lt;&lt; "mv '" &lt;&lt; w1 &lt;&lt; " " &lt;&lt; w2 &lt;&lt; "' " &lt;&lt; w1 &lt;&lt; "-" &lt;&lt; w2 &lt;&lt; endl;
}
</pre></td></table></center><p>


Now, it compiles and runs without changing the original line (you'll see that the space
is back in the blue text):

<pre>
UNIX> <font color=darkred><b>head -n 1 data/filenames.txt | bin/move_filenames_8</b></font>
mv '2019-07-13 00.09.11.jpg' 2019-07-13-00.09.11.jpg
The line of text: <font color=blue> 2019-07-13 00.09.11.jpg</font>
UNIX> <font color=darkred><b></b></font>
</pre>

If you want far more text than you care to read about "call by value" and "call by reference,"
read
<a href=src/https://en.wikipedia.org/wiki/Evaluation_strategy>https://en.wikipedia.org/wiki/Evaluation_strategy</a>.

<hr>
<h3>Demonstrating how reference parameters improve performance</h3>

Here, we're going to demonstrate how reference parameters can improve performance,
and how <b>const</b> gives you peace of mind.
Take a look at 
<b><a href=src/total_etc_1.cpp>src/total_etc_1.cpp</a></b>.  This is a program that
defines four functions that act on vectors of doubles:

<UL>
<LI> <b>Total(v)</b> returns the sum of the elements in <b>v</b>.
<LI> <b>Avg(v)</b> returns the average of the elements in <b>v</b>.
<LI> <b>Max(v)</b> returns the maximum element in <b>v</b>.
<LI> <b>Min(v)</b> returns the minimum element in <b>v</b>.
</UL>

They are all really simple:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program defines four procedures -- total(), avg(), max() and man() -- that
   return single values calculated from a vector of doubles.  None of them use 
   reference parameters, so each one of them makes a copy of the vector, which is
   expensive.

   To test this, I shove some randomish values into a large vector, and then call
   all of them.  
 */</font>

#include &lt;cstdlib&gt;
#include &lt;cstdio&gt;
#include &lt;vector&gt;
#include &lt;sstream&gt;
#include &lt;iostream&gt;
using namespace std;

<font color=blue>/* This returns the total of the values. */</font>

double total(vector &lt;double&gt; v)
{
  size_t i;
  double t;

  t = 0;
  for (i = 0; i &lt; v.size(); i++) t += v[i];
  return t;
}

<font color=blue>/* This returns the average of the values.  It does it by calling total to sum the values. */</font>

double avg(vector &lt;double&gt; v)
{
  double size;

  size = v.size();
  return total(v)/size;
}

<font color=blue>/* This returns the maximum of the values. */</font>

double max(vector &lt;double&gt; v)
{
  size_t i;
  double mx;

  mx = v[0];
  for (i = 1; i &lt; v.size(); i++) if (v[i] &gt; mx) mx = v[i];
  return mx;
}

<font color=blue>/* This returns the minimum of the values. */</font>

double min(vector &lt;double&gt; v)
{
  size_t i;
  double mn;

  mn = v[0];
  for (i = 1; i &lt; v.size(); i++) if (v[i] &lt; mn) mn = v[i];
  return mn;
}
</pre></td></table></center><p>

For the <b>main()</b>, I read the size of the vector on the command line, and then
create a randomish vector with that many values.  Read the code if you care how I
create the values -- they are random-ish between 1 and ten.  Finally, I call the 
four procedures and return the results:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* We call main() with the number of values in the vector. 
   We then create the vector, and call all of the procedures. */</font>

int main(int argc, char **argv)
{
  int i;
  int n;
  istringstream ss;
  vector &lt;double&gt; v;
  double val;

  <font color=blue>/* Parse the command line. */</font>

  if (argc != 2) { cerr &lt;&lt; "usage: total_etc_1 number-of-elements\n"; exit(1); }
  ss.str(argv[1]);
  if (!(ss &gt;&gt; n)) { cerr &lt;&lt; "usage: total_etc_1 number-of-elements\n"; exit(1); }

  <font color=blue>/* Create the vector -- I'm not using a random number generator here -- I'm 
     just starting with val = 10*1/7 and repeatedly squaring it, dividing by
     ten with it exceeds ten.  That will keep the values between 1 and 10, but
     looking kinda random. */</font>

  val = 1/7.0 * 10.0;

  for (i = 0; i &lt; n; i++) {
    v.push_back(val);
    val *= val; 
    if (val &gt; 10) val /= 10.0;
  }

  <font color=blue>/* Print the values if there are fewer than 10 */</font>

  if (n &lt; 10) {
    for (i = 0; i &lt; n; i++) printf("%6.4lf\n", v[i]);
    printf("\n");
  }

  <font color=blue>/* Call the procedures and print the results. */</font>

  printf("Total: %12.4lf\n", total(v));
  printf("Avg:   %12.4lf\n", avg(v));
  printf("Max:   %12.4lf\n", max(v));
  printf("Min:   %12.4lf\n", min(v));
  return 0;
}
</pre></td></table></center><p>

Let's make sure it works -- we'll call it with a small value of four:

<pre>
UNIX> <font color=darkred><b>bin/total_etc_1 4</b></font>
1.4286
2.0408
4.1649
1.7347

Total:       9.3690
Avg:         2.3422
Max:         4.1649
Min:         1.4286
UNIX> <font color=darkred><b></b></font>
</pre>

We can verify by hand that these are all correct.  Now, let's time calling it a
really big value:

<pre>
UNIX> <font color=darkred><b>time bin/total_etc_1 50000000</b></font>
Total: 195385228.1964
Avg:         3.9077
Max:        10.0000
Min:         1.0000
3.736u 0.808s 0:04.55 99.5%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b></b></font>
</pre>

Using "time" has the shell print three times:

<UL>
<LI> 3.736u: This is the CPU time devoted to the process (in seconds).
<LI> 0.808s: This is the amount of CPU time that the operating system has spent on the process.
<LI> 4.55: This is the wall clock time that it took the program from start to finish.
</UL>

If the machine that you're on is relatively unloaded, the first two will roughly add up to the
last -- when I'm reporting times, I will typically report the wall clock time, and make sure
that the machine that I'm on (in this case a MacBook Pro with a 2.2 GHz processor) 
is not doing anything else.

<p>
Now, in <b><a href=src/total_etc_2.cpp>src/total_etc_2.cpp</a></b>, I have changed all of
the parameters to <b>const</b> reference parameters.  For example, here's <b>total()</b>:

<p><center><table border=3 cellpadding=3><td><pre>
double total(const vector &lt;double&gt; &v)
{
  size_t i;
  double t;

  t = 0;
  for (i = 0; i &lt; v.size(); i++) t += v[i];
  return t;
}
</pre></td></table></center><p>

Now, when <b>total()</b> is called, it doesn't make a copy of <b>v</b>, and the
<b>const</b> keyword assures us that <b>total()</b> does not modify <b>v</b>.
Therefore, there is no real difference between <b>total_etc_1.cpp</b>
and <b>total_etc_2.cpp</b>, except that we're not copying that vector so much.
Accordingly, when we run it, it is a lot faster -- nearly a factor of two!

<pre>
UNIX> <font color=darkred><b>time bin/total_etc_2 50000000</b></font>
Total: 195385228.1964
Avg:         3.9077
Max:        10.0000
Min:         1.0000
2.212u 0.215s 0:02.44 99.1%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b></b></font>
</pre>


<hr>
<h3>Summary of key points from this lecture</h3>

<UL>
<LI> Procedures allow you to break up your code into smaller units, and write functionality
     that can be reused.
<p>
<LI> If you don't define a procedure in the same file and before it is called, then you'll
     need to define a prototype before it is called.  The prototype declares the parameters
     to the procedure and its return value.
<p>
<LI> By default, parameters are copied when the procedure is called.  This is termed
     "call by value."  While it can be inefficient, it is also "safe", because whoever
     calls the procedure knows that its parameters won't be modified.
<p>
<LI> If you put an ampersand in front of the parameter's name, then the parameter is 
     called with "call by reference."  That means it is not copied when the procedure is
     called, and if the procedure modifies the parameter, then it will be modified in the
     caller.  Sometimes that is what you want.
<p>
<LI> If you put the <b>const</b> keyword in the parameter declaration, then the compiler
     will assure that the procedure does not modify the parameter.  In that way, if the
     parameter is large (like the vector above), you don't make a copy, which is efficient,
     but you are also assured that the parameter is not modified.  
</UL>
