<title>CS202 Lecture notes -- Bit Arithmetic</title>
<body bgcolor=ffffff>
<h1>CS202 Lecture notes -- Bit Arithmetic</h1>
<UL>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>/home/jplank/cs202/Notes</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Bits/index.html>
    <b>http://web.eecs.utk.edu/~jplank/plank/classes/cs202/Notes/Bits/index.html</b></a>
<LI> Original Lecture Notes: Thu Nov  5 13:08:14 EST 1998
<LI> Latest modification: 
Wed Sep 11 14:52:56 EDT 2019
</UL>
<hr>

There used to be lecture notes here.  However, what we do now is use
the
<a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs302/Notes/Bits/>CS302 Lectures Notes On Bit Operations</a>, but stop when we reach the section entitled "Common things that we do with bit operations".

