<h3>Personal Notes for Teaching</h3>

<UL>
<LI> Go over include/src/obj/bin.
<LI> Defining a class <tt>Tic_Tac_Toe</tt> in include file.
<LI> Implementing it in <b>src/tic_tac_toe.cpp</b>.
<LI> No main, so if you try to compile it, you'll fail.
<LI> Three driver programs -- each includes <b>include/tic_tac_toe.hpp</b> and uses the
     class/methods.
<LI> Go over compilation and make.
<LI> Go over picture.
<p>
<LI> Now the header file.  Go over each method, and then the protected variables.
<LI> Public/protected.
<LI> const
<LI> std::
<p>
<LI> Dummy implementation in <b>src/tic_tac_toe_1.cpp</b>
<LI> You may want to do this from the header file.
<LI> How it is compiled.
<p>
<LI> Testing program <b>ttt_tester</b>.  Note, it's written before I write the methods.
<LI> Note how it doesn't error check the arguments in "M".  And how it creates row/col.
<LI> Show it running on the dummy -- make develop.
<p>
<LI> Next <b>src/tic_tac_toe_2.cpp</b>.  Implements all methods but Make_Move.  Do this live.
<LI> Test.
<p>
<LI> Finally Make_Move.  Don't do this live.  Just go over <b>tic_tac_toe.cpp</b>
<p>
<LI> Test it interactively, and then use data/test_game_input_1.txt -- show how to use sed to make it look better.
<p>
<LI> <b>src/ttt_player.cpp</b> -- go over -- and play.
<p>
<LI> Finally the scientific experiment.  Don't go over the scaffolding -- just go over the guts.
<p>
<LI> Do a few experiments with a million games.
<p>
<LI> Recap the lecture:
<p>
<OL>
<LI> Directory structure.
<LI> cpp -> .o; automate with make
<LI> Header files in include.  Headers should not contain code.
<LI> Don't put "using namespace std" into a header file.
<LI> Methods public; data protected.
<LI> const at the end of a method.
<LI> When implementing, start w dummy implementations and write a testing program so you can program/test/program/test.
<LI> You should program incrementally.  Always.
<LI> A well-designed class can be used by multiple programs.
</OL>
</UL>
