<title>CS202 Lecture Notes</title>
<h2>CS202 Lecture Notes - Lists, Iterators, Bad Vector Usage, Deques</h2>
<UL>
<LI> James S. Plank
<LI> Directory: <b>/home/plank/cs202/Notes/Lists</b>
<LI> Original Notes: September 1, 2009. 
<LI> Last modification: <i>
Fri Sep 27 09:43:58 EDT 2019
</i>
</UL>

<hr>
The list type is one of the very useful parts of the STL.
I'll present a canonical list example: reversing the lines of standard input.
To do that, we'll create a list of strings, where the list has the lines in 
reverse order, and we'll traverse the list and print out the lines.
To create the list, we start with an empty list and
insert each string to the front of the list using the <b>push_front()</b> 
method.  
<p>
The code is in 
<b><a href=src/reverse_1.cpp>src/reverse_1.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program shows how to reverse standard input using a list.
   We create the list with push_front(), so the list holds the 
   lines of standard input in reverse order.  Therefore, we traverse
   it from front to back with a const_interator. */</font>

#include &lt;iostream&gt;
#include &lt;list&gt;
using namespace std;

int main()
{
  list &lt;string&gt; lines;
  string s;
  list &lt;string&gt;::const_iterator lit;             <font color=blue>// We use const_iterator, because the iterator</font>
                                                 <font color=blue>// does not change its contents.</font>
  while (getline(cin, s)) lines.push_front(s);
 
  for (lit = lines.begin(); lit != lines.end(); lit++) {
    cout &lt;&lt; *lit &lt;&lt; endl;
  }
  return 0;
}
</pre></td></table></center><p>

A few things -- you declare an empty list just like you declare an empty vector.
In fact, the code to create the list is very much like the code to create a 
vector, except we are using <b>push_front()</b> to prepend each string to the
front of the list.  
<p>
To traverse the list, we use an <i>iterator</i>, which is a special type
defined by the standard template library (STL).  The <b>for</b> loop is typical -- you start
with the first element of the list, obtained with the <b>begin()</b> method,
and traverse until you are one element beyond the end of the list (signified
by the <b>end()</b> method).  To go from one element to the next, you 
increment the iterator.  This is operator overloading, implemented by the STL.
<p>
Then, to access the element in the list, you use pointer indirection (the asterisk),
which is in fact really another overloaded method.
When you get used to seeing this code, it reads nicely.  It does take a little
acclimation though.  Regardless, it works:

<pre>
UNIX> <font color=darkred><b>cat files/input.txt</b></font>
1. Born in the night
2. She would run like a leopard
3. That freaks at the sight
4. Of a mind close beside herself
UNIX> <font color=darkred><b>bin/reverse_1 < files/input.txt</b></font>
4. Of a mind close beside herself
3. That freaks at the sight
2. She would run like a leopard
1. Born in the night
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Reverse Iterators</h3>

Instead of creating a list in reverse order, we also can create the list by appending
the strings, and then traverse it in reverse order.  That code is in 
<b><a href=src/reverse_2.cpp>src/reverse_2.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This also reverses standard input, by appending the strings to the list,
   and then using a "reverse" iterator to traverse the list backward. */</font>

#include &lt;iostream&gt;
#include &lt;list&gt;
using namespace std;

int main()
{
  list &lt;string&gt; lines;
  list &lt;string&gt;::const_reverse_iterator lit;
  string s;

  while (getline(cin, s)) lines.push_back(s);
 
  for (lit = lines.rbegin(); lit != lines.rend(); lit++) {
    cout &lt;&lt; *lit &lt;&lt; endl;
  }
  return 0;
}
</pre></td></table></center><p>

We create  the list with <b>push_back()</b>, and we change <b>lit</b> 
to be a <b>const_reverse_iterator</b>.  Once again, the "const" part says that I 
won't change what the iterator points to.  The "reverse" part says that when I
increment the iterator, it moves backward in the list.
<p>
The iteration proceeds from <b>rbegin()</b>,
which is the last element of the list, to <b>rend()</b>, which is one element
before the first element of the list.  Again, increment <b>lit</b> to have it go
backward in the list.  Is that natural?  You be the judge.

<pre>
UNIX> <font color=darkred><b>bin/reverse_2 < files/input.txt</b></font>
4. Of a mind close beside herself
3. That freaks at the sight
2. She would run like a leopard
1. Born in the night
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>List Insertion</h3>

Lists have an <b>insert</b> method, which takes an iterator as an argument, and inserts an 
element in front of that iterator.  Thus 
<b>lines.push_front()</b> is equivalent to <b>lines.insert(lines.begin())</b> and
<b>lines.push_back()</b> is equivalent to <b>lines.insert(lines.end())</b>.  
<p>
The program <b><a href=src/reverse_3.cpp>src/reverse_3.cpp</a></b> implements reversal by 
inserting each element at the front and traversing the list in the forward direction:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program now creates the list in reverse order by inserting each
   string before the first element in the list.  This is equivalent to
   calling push_front(). */</font>

#include &lt;iostream&gt;
#include &lt;list&gt;
using namespace std;

int main()
{
  list &lt;string&gt; lines;
  list &lt;string&gt;::const_iterator lit;
  string s;

  while (getline(cin, s)) lines.insert(lines.begin(), s);  <font color=blue>// This is equivalent to push_front().</font>
 
  for (lit = lines.begin(); lit != lines.end(); lit++) {
    cout &lt;&lt; *lit &lt;&lt; endl;
  }
  return 0;
}
</pre></td></table></center><p>
It works like the others:

<pre>
UNIX> <font color=darkred><b>bin/reverse_3 < files/input.txt</b></font>
4. Of a mind close beside herself
3. That freaks at the sight
2. She would run like a leopard
1. Born in the night
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>You can insert into vectors too, but you should not.</h3>

You can use iterators with
vectors, and they work just like lists.  Moreover,
for some ill-judged reason, the implementors of the STL felt it ok to 
implement an <b>insert()</b> operation on vectors.   This means that you 
can change the code of <b><a href=src/reverse_3.cpp>src/reverse_3.cpp</a></b> 
to use vectors instead of lists.  It is in 
<b><a href=src/reverse_4.cpp>src/reverse_4.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This code inserts each string at the front of a vector, instead of a list.
   What this does is resize the vector at every insert() call, move each element
   over one, and put the new string at element 0.  Thus, it is *really* 
   inefficient code.  Its performance will scale quadratically with the
   size of the input. */</font>

#include &lt;iostream&gt;
#include &lt;vector&gt;
using namespace std;

int main()
{
  vector &lt;string&gt; lines;
  vector &lt;string&gt;::const_iterator lit;
  string s;

  while (getline(cin, s)) lines.insert(lines.begin(), s);
 
  for (lit = lines.begin(); lit != lines.end(); lit++) {
    cout &lt;&lt; *lit &lt;&lt; endl;
  }

  return 0;
}
</pre></td></table></center><p>

I call this ill-judged because when you perform an insertion
such as <b>v.insert(v.begin(), x)</b>, 
the STL basically does the following:

<p><center><table border=3 cellpadding=10><td><pre>
v.resize(v.size()+1);
for (i = v.size(); i &gt; 0; i--) v[i] = v[i-1];
v[0] = x;
</pre></td></table></center><p>

In other words, it copies all of the elements of the vector to 
make room for the new element at <b>v[0]</b>.  This is expensive,
and makes <b>reverse_4.cpp</b> above run in time proportional to 
<i>n<sup>2</sup></i>, when <i>n</i> is the number of lines in standard
input.  (Later, we'll call that <i>O(n<sup>2</sup>)</i>).
<p>
To illustrate,
<b><a href=files/input_2.txt>files/input_2.txt</a></b> is an files/input file with
10,000 lines, and 
<b><a href=files/input_3.txt>files/input_3.txt</a></b>
is one with 40,000 lines.  Look at the difference in speed
between <b>bin/reverse_3</b> and <b>bin/reverse_4</b> (this was
on my 2.2 GHz MacBook in 2019):

<pre>
UNIX> <font color=darkred><b>wc files/input_2.txt</b></font>
   10000   10000   80000 files/input_2.txt
UNIX> <font color=darkred><b>wc files/input_3.txt</b></font>
   40000   40000  320000 files/input_3.txt
0.000u 0.000s 0:00.00 0.0%	0+0k 0+0io 0pf+0w
UNIX> <font color=darkred><b>time bin/reverse_3 < files/input_2.txt > /dev/null</b></font>
0.017u 0.003s 0:00.02 50.0%	0+0k 0+0io 0pf+0w                 <font color=blue>#  0.02 seconds</font>
UNIX> <font color=darkred><b>time bin/reverse_3 < files/input_3.txt > /dev/null</b></font>
0.066u 0.013s 0:00.08 87.5%	0+0k 0+0io 0pf+0w                 <font color=blue>#  0.08 seconds</font>
UNIX> <font color=darkred><b>time bin/reverse_4 < files/input_2.txt > /dev/null</b></font>
0.696u 0.004s 0:00.70 98.5%	0+0k 0+0io 0pf+0w                 <font color=blue>#  0.70 seconds</font>
UNIX> <font color=darkred><b>time bin/reverse_4 < files/input_3.txt > /dev/null</b></font>
10.460u 0.014s 0:10.47 100.0%	0+0k 0+0io 0pf+0w                 <font color=blue># 10.47 seconds!!</font>
UNIX> <font color=darkred><b></b></font>
</pre>


As you can see, <b>bin/reverse_3</b> is very fast,
while <b>bin/reverse_4</b> becomes painfully slow!!
This is is important, and you should take care that it
doesn't happen to you.  
<p>
A good rule of thumb is to use a vector as a direct-access data structure, and not a list.
Don't use iterators -- use integer indices.  Then you're ok.

<hr>
<h3>Deques</h3>

The STL defines a data structure called a <b>deque</b>, 
which stands for "double-ended queue."  You use
these like vectors, but with the proviso that you can insert or delete from either
end of the deque with high efficiency.  For that reason, they have a <b>push_front()</b>
method (which vectors do not have).  We can therefore use a <b>deque</b> to create 
a vector in reverse order, and then traverse it forwards.  The code is in
<b><a href=src/reverse_5.cpp>src/reverse_5.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This code uses a deque to store standard input in reverse order.
   We then traverse it in the forward direction, to print standard input 
   in reverse order.  Deques are like vectors, because we can access 
   elements with integer indices.  They differ, because you can insert
   and delete from both the front and the back.  With vectors, you should 
   only insert and delete from the back. */</font>

#include &lt;iostream&gt;
#include &lt;deque&gt;
using namespace std;

int main()
{
  deque &lt;string&gt; lines;
  size_t i;
  string s;

  while (getline(cin, s)) lines.push_front(s);

  for (i = 0; i &lt; lines.size(); i++) cout &lt;&lt; lines[i] &lt;&lt; endl;

  return 0;
}
</pre></td></table></center><p>

Unlike the vector version, this one runs very fast:

<pre>
UNIX> <font color=darkred><b>bin/reverse_4 < files/input.txt</b></font>
4. Of a mind close beside herself
3. That freaks at the sight
2. She would run like a leopard
1. Born in the night
UNIX> <font color=darkred><b>time bin/reverse_5 < files/input_2.txt > /dev/null</b></font>
0.017u 0.004s 0:00.02 50.0%	0+0k 0+0io 0pf+0w               <font color=blue># 0.02 seconds</font>
UNIX> <font color=darkred><b>time bin/reverse_5 < files/input_3.txt > /dev/null</b></font>
0.065u 0.012s 0:00.07 100.0%	0+0k 0+0io 0pf+0w               <font color=blue># 0.07 seconds</font>
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>
Another example -- mytail
</h3>

Another easy list program is <b>mytail</b>, which prints the last ten lines of 
a file (if there are more than ten lines -- if there are fewer, then it just
prints the file).  To write it, we use the <b>erase()</b> method, which takes
an iterator as a parameter, and erases it from the list.  Thus, we read in 
lines of text and append them to a list.  When the list grows bigger than ten
elements, we delete the first element, which will bring it down to the last
ten lines.  The code is straightforward, in 
<b><a href=src/mytail_list.cpp>src/mytail_list.cpp</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program uses lists to print the last ten lines of standard input.
   It calls push_back to append each line to the list, and then whenever
   the list becomes greater than 10 elements, it deletes the first element. */</font>

#include &lt;iostream&gt;
#include &lt;list&gt;
using namespace std;

int main()
{
  list &lt;string&gt; lines;
  list &lt;string&gt;::const_iterator lit;
  string s;

  while (getline(cin, s)) {
    lines.push_back(s);
    if (lines.size() &gt; 10) lines.erase(lines.begin());
  }
 
  for (lit = lines.begin(); lit != lines.end(); lit++) {
    cout &lt;&lt; *lit &lt;&lt; endl;
  }
  return 0;
}
</pre></td></table></center><p>

Works fine:

<pre>
UNIX> <font color=darkred><b>bin/mytail_list < files/input_2.txt</b></font>
  9991	
  9992	
  9993	
  9994	
  9995	
  9996	
  9997	
  9998	
  9999	
 10000	
UNIX> <font color=darkred><b>bin/mytail_list < files/input_3.txt</b></font>
 39991	
 39992	
 39993	
 39994	
 39995	
 39996	
 39997	
 39998	
 39999	
 40000	
UNIX> <font color=darkred><b></b></font>
</pre>


As with the previous example, we can port the code directly to vectors and to deques,
since they both implement an <b>erase()</b> method.  I've done that with 
<b><a href=src/mytail_100_list.cpp>src/mytail_100_list.cpp</a></b>,
<b><a href=src/mytail_100_deque.cpp>src/mytail_100_deque.cpp</a></b>, and
<b><a href=src/mytail_100_vector.cpp>src/mytail_100_vector.cpp</a></b>,
which all print the last 100 lines, rather than the last 10 (because that amplifies
the difference when you use vectors).

You can see that the vector implemention performs worse, since it copies all of the remaining
elements upon deletion (the shell scripts make them do more work so that you can
see the difference in their performance):  

<pre>
UNIX> <font color=darkred><b>time sh scripts/big_mytail_list.sh</b></font>
0.601u 0.008s 0:00.60 100.0%	0+0k 0+0io 0pf+0w           <font color=blue># 0.60 seconds for list</font>
UNIX> <font color=darkred><b>time sh scripts/big_mytail_deque.sh</b></font>
0.629u 0.008s 0:00.63 98.4%	0+0k 0+0io 0pf+0w           <font color=blue># 0.63 seconds for deque</font>
UNIX> <font color=darkred><b>time sh scripts/big_mytail_vector.sh</b></font>
1.736u 0.010s 0:01.74 100.0%	0+0k 0+0io 0pf+0w           <font color=blue># 1.74 seconds for vector</font>
UNIX> <font color=darkred><b></b></font>
</pre>


<hr>
<h2>The Topcoder DiamondHunt Example</h2>

This is from Topcoder SRM 346 D2, 250-pointer.  Here's their 
<a href=http://community.topcoder.com/stat?c=problem_statement&pm=7681&rd=10670>problem description</a>.  The bottom line is that you have a string <b>s</b>, composed of 
less-than and greater-than signs.  Your job is to look for "diamonds" which are 
<tt>"&lt;&gt;"</tt>
substrings.  If you find a diamond, you remove it from the string, and continue to look
for more diamonds.  You return the number of diamonds that you find.
<p>
They give a few examples:
<p>
<center>
<table border=3 cellpadding=3>
<tr><td><b>String</b></td><td>Number of diamonds</td></tr>
<tr> 
<tr><td>"&gt;&lt;&lt;&gt;&lt;&gt;&gt;&gt;&lt;"</td><td>3</td></tr>
<tr><td>"&gt;&gt;&gt;&gt;&lt;&lt;"</td><td>0</td></tr>
<tr><td>"&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;"</td><td>9</td></tr>
<tr><td>"&gt;&lt;&lt;&gt;&lt;&gt;&lt;&lt;&gt;&gt;&gt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&lt;&lt;&lt;"</td><td>14</td></tr>
</table>
<p>
</center>

I've hacked up two solutions to this problem.  The first is in 
<b><a href=src/DiamondHunt1.cpp>src/DiamondHunt1.cpp</a></b>.  I've added a <b>main()</b> so that
you can enter strings on standard input, and it will print <b>countDiamonds()</b> for each string.  
<p>
This implementation works directly from the problem statement, using the <b>find()</b>
method of strings to find a diamond, and then "removing" the diamond
by creating two substrings:

<OL>
<LI> The substring from the beginning of the string to the beginning of the diamond.
<LI> The substring from the end of the diamond to the end of the string.
</OL>

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;iostream&gt;
#include &lt;cstdio&gt;
#include &lt;cstdlib&gt;
using namespace std;

class DiamondHunt {
  public:
    int countDiamonds(string mine);
};

<font color=blue>/* We count diamonds by searching for "&lt;&gt;" in the string.  If we find it, we "remove" it by 
   recreating the string with the concatenation of the two substrings surrounding the "&lt;&gt;". */</font>

int DiamondHunt::countDiamonds(string mine)
{
  int num_diamonds;
  size_t i;

  num_diamonds = 0;
  while (1) {
    i = mine.find("&lt;&gt;");
    if (i == string::npos) return num_diamonds;
    num_diamonds++;
    mine = mine.substr(0, i) + mine.substr(i+2);
  }
}

<font color=blue>/* The main reads the strings from standard input and calls the method on each string. */</font>

int main()
{
  DiamondHunt d;
  string s;

  while (cin &gt;&gt; s) {
    cout &lt;&lt; d.countDiamonds(s) &lt;&lt; endl;
  }
  return 0;
}
</pre></td></table></center><p>

When we test it out, it works fine:

<pre>
UNIX> <font color=darkred><b>bin/DiamondHunt1</b></font>
<font color=darkred><b>&lt;&gt;</b></font>
1
<font color=darkred><b>&gt;&lt;</b></font>
0
<font color=darkred><b>&gt;&lt;&lt;&gt;&lt;&gt;&gt;&gt;&lt;</b></font>
3
<font color=darkred><b>&gt;&gt;&gt;&gt;&lt;&lt;</b></font>
0
<font color=darkred><b>&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</b></font>
9
<font color=darkred><b>&gt;&lt;&lt;&gt;&lt;&gt;&lt;&lt;&gt;&gt;&gt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&lt;&lt;&lt;</b></font>
14
<font color=darkred><b>&lt;CNTL-D&gt;</b></font>
UNIX> <font color=darkred><b></b></font>
</pre>

Although this solution works, think about its running time.  In particular, think about 
the "&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;" input.  It
has to scan nine characters before finding the diamond.  Then the next time it has to scan 8,
then 7, etc.  In other words, if you have a string of <i>n</i> less-than signs followed by
<i>n</i> greater-than signs, you will have to perform <i>n<sup>2</sup></i> scans to find
the diamonds.  When <i>n</i> is small (25 in the topcoder constraints), that doesn't make
a difference.  However, it can matter.  The program
<b><a href=src/make_bad_diamond.cpp>src/make_bad_diamond.cpp</a></b> is a very simple C++ program
that takes <i>n</i> on the command line and produces a string with <i>n</i> less-than
signs followed by <i>n</i> greater-than signs.  See what happens when we call it with
successively larger values and time the output:

<pre>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 100 | bin/DiamondHunt1"</b></font>
100
0.003u 0.004s 0:00.00 0.0%	0+0k 0+0io 0pf+0w                      <font color=blue># 0.00 seconds for 100 diamonds</font>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 1000 | bin/DiamondHunt1"</b></font>
1000
0.009u 0.005s 0:00.01 0.0%	0+0k 0+0io 0pf+0w                      <font color=blue># 0.01 seconds for 1000 diamonds</font>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 10000 | bin/DiamondHunt1"</b></font>
10000
0.478u 0.006s 0:00.48 97.9%	0+0k 0+0io 0pf+0w                      <font color=blue># 0.48 seconds for 10000 diamonds</font>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 100000 | bin/DiamondHunt1"</b></font>
100000
45.692u 0.053s 0:45.75 99.9%	0+0k 0+0io 0pf+0w                      <font color=blue># 45.75 seconds for 100000 diamonds!</font>
UNIX>
</pre>

When the input size is increased by a factor of 10, the running time is increased by a 
factor of 100.  That's not good.
<p>
Instead, 
<b><a href=src/DiamondHunt2.cpp>src/DiamondHunt2.cpp</a></b> uses a list.  It copies the elements
of <b>mine</b> to a list, and then uses three iterators on the list:

<UL>
<LI> <b>left</b> is the main iterator through the list.  When it points to a less-than
character, then we set the next iterator:
<LI> <b>right</b> points to the next node in the list after <b>left</b>.  If it points to 
the end of the list, we return.  If it points to a less-than character, then we move
on.  However, if it points to a greater-than character, then we need to increment the
number of diamonds, remove the two characters from the list, and move on with <b>li</b>
pointing to the previous character, if there is one.  To determine this, we use
the next iterator:
<LI> <b>newleft</b> stores the next value of <b>left</b> after we remove the diamond from
the list.  If <b>left</b> is the first node on the list, then <b>newleft</b> needs to be the
node after <b>right</b>.  Otherwise, it should be the node before <b>left</b>.
</UL>
After we erase <b>left</b> and <b>right</b>, we set <b>left</b> to be <b>newleft</b>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This is an implementation of DiamondHunt which uses a list rather than a string.
   It improves the performance drastically, because it is not making those big
   substrings, and it does not perform all of those find operations.  Please read
   the lecture notes for an explanation of the iterators. */</font>

#include &lt;iostream&gt;
#include &lt;list&gt;
#include &lt;string&gt;
using namespace std;

class DiamondHunt {
  public:
    int countDiamonds(string mine);
};

int DiamondHunt::countDiamonds(string mine)
{
  int num_diamonds;
  size_t i;
  list &lt;char&gt; l;
  list &lt;char&gt;::const_iterator left, right, newleft;

  <font color=blue>/* Create the list from the string. */</font>

  for (i = 0; i &lt; mine.size(); i++) l.push_back(mine[i]);
  
  num_diamonds = 0;
  left = l.begin();
  while (left != l.end()) {
    if (*left == '&gt;') {
      left++;             <font color=blue>// If left is not the beginning of a diamond, move on.</font>
    } else {
      right = left;
      right++;
      if (right == l.end()) return num_diamonds;

      if (*right == '&lt;') {   <font color=blue>// If right is not the end of a diamond, move on</font>
        left++;
      } else {            <font color=blue>// Otherwise, we've found a diamond.  We need to increment</font>
        num_diamonds++;   <font color=blue>// num_diamonds, and set newleft to point to the previous</font>
                          <font color=blue>// char, or if left is at the beginning, to the next one.</font>

        if (left == l.begin()) {
          newleft = right;
          newleft++;
        } else {
          newleft = left;
          newleft--;
        }

        l.erase(left);      <font color=blue>// Now erase left and right, and set left to newleft.</font>
        l.erase(right);
        left = newleft;
      }
    }
  }
  return num_diamonds;
}

int main()
{
  DiamondHunt d;
  string s;

  while (cin &gt;&gt; s) {
    cout &lt;&lt; d.countDiamonds(s) &lt;&lt; endl;
  }
  return 0;
}

</pre></td></table></center><p>

It works on the examples as before:

<pre>
UNIX> <font color=darkred><b>bin/DiamondHunt2</b></font>
<font color=darkred><b>&lt;&gt;</b></font>
1
<font color=darkred><b>&gt;&lt;</b></font>
0
<font color=darkred><b>&gt;&lt;&lt;&gt;&lt;&gt;&gt;&gt;&lt;</b></font>
3
<font color=darkred><b>&gt;&gt;&gt;&gt;&lt;&lt;</b></font>
0
<font color=darkred><b>&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</b></font>
9
<font color=darkred><b>&gt;&lt;&lt;&gt;&lt;&gt;&lt;&lt;&gt;&gt;&gt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&lt;&lt;&lt;</b></font>
14
UNIX> <font color=darkred><b></b></font>
</pre>

However, it is much faster than the previous version because we don't traverse the list
on each iteration as we did with <b>m.find()</b>:

<pre>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 10000 | bin/DiamondHunt2"</b></font>
10000
0.013u 0.005s 0:00.01 100.0%	0+0k 0+0io 0pf+0w       <font color=blue># 0.01 seconds for 10,000 diamonds</font>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 100000 | bin/DiamondHunt2"</b></font>
100000
0.102u 0.008s 0:00.09 111.1%	0+0k 0+0io 0pf+0w       <font color=blue># 0.09 seconds for 100,000 diamonds</font>
UNIX> <font color=darkred><b>time sh -c "bin/make_bad_diamond 1000000 | bin/DiamondHunt2"</b></font>
1000000
0.967u 0.034s 0:00.82 120.7%	0+0k 0+0io 0pf+0w       <font color=blue># 0.89 seconds for 1,000,000 diamonds</font>
UNIX> <font color=darkred><b></b></font>
</pre>

As we increase the string by a factor of 10, we increase the running time by a factor 
of ten.  That's <i>much</i> better than <b>DiamondHunt1</b>.

<p>
It's important for you to understand the code in 
<b><a href=src/DiamondHunt2.cpp>src/DiamondHunt2.cpp</a></b>.  To help you, here's an example when 
we call it on the string: "&lt;&lt;&gt;&gt;&lt;&lt;&gt;":
I will draw every iteration of the <b>while()</b> loop.  Here are the list and the iterators
in the first iteration:

<p><center><table border=3><td><img src=jpg/DH1.jpg></td></table></center><p>

I'm drawing the list with two <i>sentinel</i> nodes at each end.  Before the first node is
a sentinel node for <b>l.rend()</b>, and after the last node is a sentinel node for <b>l.end()</b>.
We start with <b>left</b> equaling <b>l.begin()</b>, and since it points to a less-than 
character, we set <b>right</b> to be the next node.  Since <b>right</b> also points to a less-than
node, there is no diamond -- we increment <b>left</b> and go to the next iteration of the <b>while()</b> loop:

<p><center><table border=3><td><img src=jpg/DH1A.jpg></td></table></center><p>

Now <b>left</b> points to a less-than and <b>right</b> points to a greater-than.  So, we increment
<b>nd</b> and then set <b>newleft</b> to be the node before <b>left</b>.  That is pictured below:
<p><center><table border=3><td><img src=jpg/DH2.jpg></td></table></center><p>
We then erase <b>left</b> and <b>right</b>, and set <b>left</b> to <b>newleft</b> before going back to
the top of the <b>while()</b> loop.  Here's what happens in the next iteration:

<p><center><table border=3><td><img src=jpg/DH3.jpg></td></table></center><p>

The two erased nodes are gone from the picture, and <b>left</b> and <b>right</b> point to a diamond.
Thus, <b>nd</b> is incremented, and since <b>left</b> is equal to <b>l.begin()</b>, we set
<b>newleft</b> to be the node after <b>right</b>.  That is the state pictured above.  
We then erase <b>left</b> and <b>right</b>, and set <b>left</b> to <b>newleft</b> before going back to
the top of the <b>while()</b> loop.  Here's what happens in the fourth iteration:

<p><center><table border=3><td><img src=jpg/DH4.jpg></td></table></center><p>

This is the same case as the first iteration -- no diamond.  We increment <b>left</b> and move on:

<p><center><table border=3><td><img src=jpg/DH5.jpg></td></table></center><p>

We have a diamond.  We first increment <b>nd</b>.
Next, since <b>left</b> is not equal to <b>l.begin()</b>, we set <b>newleft</b> to point to the
node before <b>left</b>.  That is depicted above.  We then erase, set <b>left</b> to <b>newleft</b>
and reach the last iteration of the <b>while()</b> loop:

<p><center><table border=3><td><img src=jpg/DH6.jpg></td></table></center><p>

Since <b>right</b> equals <b>l.end()</b>, we return <b>3</b>, and we're done. 
It's important that you step through this example until you understand it.  You may 
even want to step through what happens when the string is
we call it on the string "&lt;&lt;&gt;&gt;&gt;&lt;&gt;".  The execution 
is very similar, except the fourth and sixth iterations look a little different.

<hr>
<h2>When do I use each data structure?</h2>

We've covered quite a bit in this lecture.  One of the bottom lines that I want you to 
receive from this lecture is that there are three data structures: vectors, deques and 
lists, and you should use each appropriately:

<UL>
<LI> If you are simply accessing <i>n</i> elements, or if you are calling <b>push_back()/pop_back()</b>,
use a vector.
<LI> If you want to call <b>push_front()</b> or <b>pop_front()</b> in addition to 
calling <b>push_back()/pop_back()</b>, use a deque.
<LI> If you want to insert and delete elements from the middle of the data structure, 
use a list.
</UL>
