<pre>
- Reverse std input with a list and push_front.  Don't forget const_iterator.
- Talk about access via iterators
- Talk about operator overloading with ++ and with *


- Reverse iterators -- implement the same thing with push_back and const_reverse_iterator.
- ++ goes backward.  What?

- List insertion -- go over.  Implement a third time with lines.insert(lines.begin()).

- You can insert into vectors, but you should not.  Change that last one to a vector.
- Talk about how it is implemented.
- Time list and vector on files/input_2.txt and files/input_3.txt

- Rule of thumb: Use vectors with direct access only.  Don't use iterators on them.

- Deques.  Define.  Implement reverse with push_front() and direct access on the printing.

- Mytail: Implement with a list.  Do with a deque and a vector (change to 100 instead of 10
    when you test the vector).

Diamond Hunt -- just describe it rather than doing Topcoder.  Go over examples:

<pre>
&lt;&gt;
1
&gt;&lt;
0
&gt;&lt;&lt;&gt;&lt;&gt;&gt;&gt;&lt;
3
&gt;&gt;&gt;&gt;&lt;&lt;
0
&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;
9
&gt;&lt;&lt;&gt;&lt;&gt;&lt;&lt;&gt;&gt;&gt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&gt;&lt;&lt;&gt;&gt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;&gt;&gt;&lt;&lt;&lt;
14
</pre>

  - Implement with strings and concatenating substrings.
  - Test it with make_bad_diamond

  - Now, with lists: use three iterators:

     - left -- the main iterator through the list
     - right -- when *left == '<', right is set to left+1 (conceptual)
     - newleft -- when *right == '>', set to left-1.
           Gotta be careful when left == l.begin().

<p><center><table border=3 cellpadding=3><td><pre>
&gt;&lt;&lt;&gt;&lt;&gt;&gt;&gt;&lt;
</pre></td></table></center><p>

Put a teaser about solving this better.

Recap: 

    - When you are accessing n elements or calling only push_back() / pop_back(), use a vector.
    - If you want to call push_front/pop_front too, use a deque
    - If you want to insert/delete from the middle, use a list.
  
